﻿@model ContactUsModel
@using System.Collections.Generic
@using Nop.Core.Infrastructure
@using Nop.Web.Framework.Themes
@using Nop.Web.Models.Common;
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    //title
    Html.AddTitleParts("Liên hệ");
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var imageFolderPath = "~/Themes/" + currentThemeName + "/Content/";

    Dictionary<string, string> dicAddress = new Dictionary<string, string>();
    dicAddress.Add("1", "21.030528,105.785650");

    Dictionary<string, string> dicName = new Dictionary<string, string>();
    dicName.Add("1", "Văn phòng Hà Nội");

    Dictionary<string, string> dicAddressName = new Dictionary<string, string>();
    dicAddressName.Add("1", "Tầng 1, Tòa nhà 3D Center, Số 3 Duy Tân, Cầu Giấy, Hà Nội, Việt Nam");

    Dictionary<string, string> dicSDT = new Dictionary<string, string>();
    dicSDT.Add("1", "0972 386 932");

    Dictionary<string, string> dicEmail = new Dictionary<string, string>();
    dicEmail.Add("1", "contact@worldshop.com");
}

<script type="text/javascript">
    var map;
    $(document).ready(function () {
        map = new GMaps({
            el: '#pointers_map_contact',
            lat: 21.030528,
            lng: 105.785650,
            zoom: 16,
            zoomControl: true,
            zoomControlOpt: {
                style: 'SMALL',
                position: 'TOP_LEFT'
            },
            panControl: false,
        });

        map.addMarker({
            lat: 21.030528,
            lng: 105.785650,
            title: 'Văn phòng WorldShop tại Hà Nội',
            infoWindow: {
                content: '<p>Tầng 5, Tòa nhà 3D Center, Duy Tân, Cầu Giấy, Hà Nội, Việt Nam.</p>'
            }
        });

        document.getElementById('departSelect').value = '1';
        departmentChange();
    });

    function departmentChange() {
        /*div.locations*/
        var lName = $('#lblVanPhong');
        var lAddress = $('#lblDiaChi');
        var lEmail = $('#lblEmail');
        var lPhone = $('#lblSDT');

        var v = document.getElementById('departSelect').value;
            @{
                foreach (var key in dicAddress.Keys)
                {
                    <text>
                        if (v == '@key') {
                            map.setCenter(@dicAddress[key]);
                        }
                    </text>
                }

                foreach (var key in dicName.Keys)
                {
                    <text>
                        if (v == '@key') {
                            lName.text('@Html.Raw(dicName[key])');
                        }
                    </text>
                }

                foreach (var key in dicAddressName.Keys)
                {
                    <text>
                        if (v == '@key') {
                            lAddress.text('@Html.Raw(dicAddressName[key])');
                        }
                    </text>
                }

                foreach (var key in dicSDT.Keys)
                {
                    <text>
                        if (v == '@key') {
                            lPhone.text('@Html.Raw(dicSDT[key])');
                        }
                    </text>
                }

                foreach (var key in dicEmail.Keys)
                {
                    <text>
                        if (v == '@key') {
                            lEmail.text('@Html.Raw(dicEmail[key])');
                        }
                    </text>
                }
            }
    };
</script>

<div id="main">
    <div id="shopping-cart">
        <h2 class="title clearfix">
            <a href="cart.htm"><span>Liên hệ với chúng tôi</span></a>
        </h2>
        <div class="form-contact">
            <div class="col-30">
                <div class="locations">
                    @*<div class="map">

                        </div>*@
                    <div id="pointers_map_contact" style="width: 292px; height: 197px; border: 1px solid #B1B1B1;">Google Map</div>
                    @* <a href="#" class="map">
                        <img src="@Url.Content(imageFolderPath)assets/css/images/map.png" alt="#" /></a>*@
                    <div>
                        <h4>Tìm kiếm địa chỉ văn phòng</h4>
                        <ul>
                            <li class="clearfix">
                                <span class="td-left"><b>Văn phòng</b> </span><span class="td-right">
                                    <select class="selected" id="departSelect">
                                        <option value="0">{-- Chọn văn phòng --} </option>
                                        <option value="1">Văn phòng tại Hà Nội</option>
                                    </select>
                                </span>
                            </li>
                            <li>
                                <span class="td-right"><a href="javascript:void()" class="search-location" onclick="departmentChange();">Tìm kiếm</a> </span>
                                <div class="clear">
                                </div>
                            </li>
                            <li class="clearfix">
                                <span class="td-desc-left"><b>Tên văn phòng</b> </span><span class="td-desc-right">
                                    <label id="lblVanPhong"></label>
                                </span>
                            </li>
                            <li class="clearfix">
                                <span class="td-desc-left"><b>Địa chỉ</b> </span><span class="td-desc-right">
                                    <label id="lblDiaChi"></label>
                                </span>
                            </li>
                            <li class="clearfix">
                                <span class="td-desc-left"><b>Số điện thoại</b> </span><span class="td-desc-right">
                                    <label id="lblSDT"></label>
                                </span>
                            </li>
                            <li class="clearfix">
                                <span class="td-desc-left"><b>Email</b> </span><span class="td-desc-right">
                                    <label id="lblEmail"></label>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            @if (Model.SuccessfullySent)
            {
                <div class="result">
                    @Model.Result
                </div>
            }
            else
            {
                using (Html.BeginForm())
                {
                    <div class="message-error">
                        @Html.ValidationSummary()
                    </div>

                    <div class="col-30">
                        <ul>
                            <li>
                                <span class="lable-float">Tên công ty: </span>
                                @Html.TextBoxFor(model => model.TenCongTy, new { @class = "input-float input-220" })
                            </li>
                            <li>
                                <span class="lable-float">Họ và tên: </span>
                                @Html.TextBoxFor(model => model.FullName, new { @class = "input-float input-220" })
                            </li>
                            <li>
                                <span class="lable-float">Địa chỉ: </span>
                                @Html.TextBoxFor(model => model.DiaChi, new { @class = "input-float input-220" })
                            </li>
                            <li>
                                <span class="lable-float">Địa chỉ Email: </span>
                                @Html.TextBoxFor(model => model.Email, new { @class = "input-float input-220" })
                            </li>
                            <li>
                                <span class="lable-float">Số điện thoại: </span>
                                @Html.TextBoxFor(model => model.SoDienThoai, new { @class = "input-float input-220" })
                            </li>
                        </ul>
                    </div>
                    <div class="col-30">
                        <ul>
                            <li>
                                <span class="lable-float">Tiêu đề: </span>
                                @*<input type="text" style="width: 280px;" class="input-float">*@
                                @Html.TextBoxFor(model => model.TieuDe, new { @class = "input-float input-220", style = "width: 280px;" })
                            </li>
                            <li>
                                <span class="lable-float">Nội dung: </span>
                                @*<textarea style="height: 165px; width: 280px;" onblur="if(this.value =='') this.value='(Nội dung)';"
                                    onfocus="if(this.value=='(Nội dung)') this.value='';" class="input" cols="20"
                                    rows="2">(Nội dung)</textarea>*@
                                @Html.TextAreaFor(model => model.NoiDung, new { @class = "input", cols = "20", rows = "2", style = "height: 165px; width: 280px;" })
                            </li>
                            <li style="text-align: left; margin: .5em 0 0;">
                                <button type="submit" style="border: 0; background: transparent">
                                    <input type="image" align="absmiddle" style="border-width: 0px;" src="@Url.Content(imageFolderPath)assets/css/images/btn-send.png">
                                </button>
                                &nbsp;&nbsp;
                                <input type="image" align="absmiddle" style="border-width: 0px;" src="@Url.Content(imageFolderPath)assets/css/images/btn-cancel.png">
                            </li>
                        </ul>
                    </div>
                }
                <div class="clear">
                </div>
            }
        </div>
    </div>
    <!-- ./end MAIN -->
</div>
