﻿@model FooterModel
@using System
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Common;
@{
    String myUrl = @"www.worldshop.vn";
}
<div id="footer">
    <div class="wraprer">
        --------------------------------------------------->
        <script type="text/javascript">
            /* <![CDATA[ */
            var google_conversion_id = 971476357;
            var google_custom_params = window.google_tag_params;
            var google_remarketing_only = true;
            /* ]]> */

            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-51868886-1', 'worldshop.vn');
            ga('send', 'pageview');
        </script>
        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
        </script>
        <noscript>
            <div style="display: inline;">
                <img height="1" width="1" style="border-style: none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/971476357/?value=0&amp;guid=ON&amp;script=0" />
            </div>
        </noscript>

        <div class="share-icon">
            <h5>Chia sẻ với chúng tôi</h5>
            <p>
                <a href="https://plus.google.com/share?url=@myUrl" class="share google">&nbsp;</a>
                @*<a href="#" class="share twiter">&nbsp;</a>*@
                <a href="https://www.facebook.com/sharer/sharer.php?s=100&p[url]=@myUrl&p[images][0]={img}&p[title]={title}&p[summary]={desc}" class="share facebook">&nbsp;</a>
                <a href="http://www.linkedin.com/shareArticle?url=@myUrl&title={title}" class="share linkin">&nbsp;</a>
                <a href="https://pinterest.com/pin/create/bookmarklet/?media={img}&url=@myUrl&is_video={is_video}&description={title}" class="share printer">&nbsp;</a>
            </p>
        </div>
        <div class="menu-foot">
            <a href="/huong-dan-dat-hang">Hướng Dẫn Đặt Hàng</a> <span>|</span> <a href="#">Báo Giá</a> <span>|</span>
            <a href="/thoitrangnu">Hàng Hóa</a> <span>|</span> <a href="/chinh-sach-mua-hang">Chính sách Khách Hàng</a> <span>|</span> <a href="/phan-hoi">Hỏi - Đáp</a> <span>|</span> <a href="/gioi-thieu">Giới Thiệu</a>
            <span>|</span> <a href="/lien-he">Liên hệ</a>
        </div>
        <div class="copy">
            Bản quyền thuộc về Tập đoàn Hợp Nhất Việt Nam
        </div>
    </div>
    <!-- ./#footer -->
</div>
