﻿@model HeaderLinksModel
@using Nop.Web.Models.Common;
@using Nop.Core.Infrastructure
@using Nop.Web.Framework.Themes
@{
    bool isLogIn = Model.IsAuthenticated;
    bool isAppend = false;
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var logoPath = "~/Themes/" + currentThemeName + "/Content/images/logo.png";
    var imageFolderPath = "~/Themes/" + currentThemeName + "/Content/";
}
<div class="fright">
    @if (Model.IsAuthenticated)
    {
        isAppend = true;
        <a href="@Url.Action("Info", "Customer")">Tài khoản của tôi</a>
    }

    @if (Model.WishlistEnabled)
    {
        if (isAppend)
        {
            <span>|</span>
        }

        isAppend = true;
        if (Model.WishlistItems > 0)
        {
            <a href="@Url.RouteUrl("Wishlist")">Sản phẩm yêu thích @T("Wishlist.HeaderQuantity", Model.WishlistItems)</a>
        }
        else
        {
            <a href="@Url.RouteUrl("Wishlist")">Sản phẩm yêu thích</a>
        }
    }

    @if (!Model.IsAuthenticated)
    {
        if (isAppend)
        {
            <span>|</span>
        }

        isAppend = true;
        <a href="javascript:void(0)" name="login-popup" rel="modalPopup" id="pLogin" class="open-windows">Đăng nhập</a>
        <span>|</span>
        <a href="javascript:void(0)" name="registration-popup" rel="modalPopup" id="pSignup" class="open-windows">Đăng ký</a>
    }
    else
    {
        if (isAppend)
        {
            <span>|</span>
        }

        isAppend = true;
        <a href="@Url.RouteUrl("Logout")">Thoát</a>
    }
</div>
<div class="clear"></div>
<div id="sub-head">
    <h1 id="logo">
        <a href="@Url.RouteUrl("HomePage")">
            <img title="" alt="" src="@Url.Content(logoPath)">
        </a>
    </h1>
    @Html.Action("SearchBox", "Catalog")
    @*<div class="jm-search-category">
            <div class="select-box lits-category">
                <select id="category_search_field" name="category">
                    <option value="all">Sản phẩm</option>
                    <option value="3">Fashion</option>
                    <option value="4">Electronics</option>
                    <option value="5">Decor</option>
                    <option value="6">Gifts</option>
                    <option value="7">BlackFriday</option>
                    <option value="8">New Products</option>
                    <option value="9">BestSelling</option>
                    <option value="12">SaleOff</option>
                    <option value="13">SpringCollection</option>
                    <option value="16">Hot &amp; Sale</option>
                    <option value="28">Feature Products</option>
                </select>
            </div>
            <div class="form-search">
                <input type="text" name="name" id="Text1" value="" title="Name" class="input-text "
                    maxlength="128">
                <input type="button" class="btn-search" value="Tìm kiếm" />
            </div>
        </div>*@
    <div id="cart-wishlist">
        <div class="fleft">
            <a href="@Url.RouteUrl("ShoppingCart")">
                <strong>Giỏ hàng</strong>
                @if (Model.ShoppingCartItems > 0)
                {
                    <span>@Model.ShoppingCartItems sản phẩm</span>
                }
            </a>
        </div>
        <div class="fleft">
            <a href="@Url.RouteUrl("ShoppingCart")">
                <img src="@Url.Content(imageFolderPath)assets/css/images/icon-bag.png" alt="Your bag" align="absmiddle" />
            </a>
        </div>
        <div class="fright">
            <div class="block-fav">
                <a href="@Url.RouteUrl("Wishlist")">
                    <img src="@Url.Content(imageFolderPath)assets/css/images/icon-favourite.png" alt="Your favourites" align="middle" />
                </a>
                <div class="block-hidden">
                    <h3>Có 01 sản phẩm được thích</h3>
                    <table>
                        <tr>
                            <td>
                                <a href="#">
                                    <img src="~/Content/Uploads/Products/pf1.png" alt="Your favourites" align="middle" />
                                </a>
                            </td>
                            <td>
                                <h4>
                                    <a href="#">Chân váy thun xếp tầng màu nổi bật</a>
                                </h4>
                                <p>
                                    Giá: <span class="td-span">99,000 vnđ</span> &nbsp;&nbsp;&nbsp; Freeship
                                </p>
                                <p>
                                    Đã mua <span class="td-span">299</span>
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

