﻿@using Nop.Core.Domain
@using Nop.Core.Infrastructure
@using Nop.Web.Framework.Themes
@{
    Layout = "";
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var themeFolder = "~/Themes/" + currentThemeName;
    var imageFolderPath = themeFolder + "/Content/";
    
    Html.AppendScriptParts(imageFolderPath + "assets/jAnythingSliders/swfobject.js");
    Html.AppendCssFileParts(imageFolderPath + "assets/jAnythingSliders/styles/anythingslider.css");
    Html.AppendScriptParts(imageFolderPath + "assets/jAnythingSliders/jquery.anythingslider.js");
    Html.AppendScriptParts(imageFolderPath + "assets/jAnythingSliders/jquery.anythingslider.video.js");
    Html.AppendScriptParts(imageFolderPath + @"http://www.youtube.com/player_api");
}

<script type="text/javascript">
    // DOM Ready
    $(function () {
        // *** Vary slideshow time ***
        var slideShowDelay = 6000, // fallback
        slideTimes = {
            1: 6000,
            2: 5000,
            3: 3000
        };

        $('#slider').anythingSlider({
            resizeContents: true,
            addWmodeToObject: 'transparent',
            stopAtEnd: true,     // If true & the slideshow is active, the slideshow will stop on the last page. This also stops the rewind
            onShowStop: function (e, slider) {
                setTimeout(function () {
                    // only go to the first page if the last page is visible
                    if (slider.currentPage === slider.pages) {
                        slider.gotoPage(1);
                    }
                },
                slider.options.delay);
            }, // need stopAtEnd = true;
            resumeOnVideoEnd: false,      // If true & the slideshow is active & a supported video is playing, it will pause the autoplay until the video is complete
            resumeOnVisible: false,
            autoPlay: false,
            //                pause slideshow if video is playing
            //                isVideoPlaying: function (slider) {
            //                    var vid = slider.$currentPage.find('iframe');
            //                    return (vid.length && typeof (vid[0].pause) !== 'undefined' && !vid[0].paused && !vid[0].ended);
            //                },
            delay: slideShowDelay,
            onSlideComplete: function (slider) {
                slider.clearTimer(true); // stop slideshow
                if (slider.currentPage == 1)
                    slider.options.delay = slideShowDelay;
                else {
                    // Change delay time based on saved timings
                    if (slideTimes.hasOwnProperty(slider.currentPage)) {
                        slider.options.delay = slideTimes[slider.currentPage];
                    } else {
                        slider.options.delay = slideShowDelay;
                    }
                }
                slider.startStop(slider.playing, true); // restart slideshow
                // show time
                //$('#display').text('Current delay: ' + slider.currentPage + "/ " + slider.options.delay);
            }
        })
        // initialize the video extension, as desired (new v1.9)
        .anythingSliderVideo({
            // video id prefix; suffix from $.fn.anythingSliderVideo.videoIndex
            videoId: 'asvideo',
            // this option replaces the `addWmodeToObject` option in the main plugin
            wmode: "opaque",
            // auto load YouTube api script
            youtubeAutoLoad: true,
            // YouTube iframe parameters, for a full list see:
            // https://developers.google.com/youtube/player_parameters#Parameters
            youtubeParams: {
                modestbranding: 1,
                iv_load_policy: 3,
                fs: 1,
                wmode: 'opaque' // this is set by the wmode option above, so no need to include it here
            }
        });
    });
</script>
<div id="banner">
    <ul id="slider">
			<li class="panel2">
            <img src="@Url.Content(imageFolderPath)Assets/css/images/banner-01.jpg" alt="slide images" height="332" width="757" />
        </li>
        <li class="panel1">
            <iframe title="YouTube video player" width="757" height="332" src="http://www.youtube.com/embed/o5MVJCMlTiA?rel=0&cc_load_policy=0&showinfo=0&autoplay=0" frameborder="0" allowfullscreen>
			</iframe>
        </li>
        <!-- YouTube: iframe -->
                       
        <!-- Images -->
        <li class="panel3">
            <img src="@Url.Content(imageFolderPath)Assets/css/images/banner-02.jpg" alt="slide images" height="332" width="757" />
        </li>
    </ul>
</div>
<div id="steps">
    <img src="@Url.Content(imageFolderPath)Assets/css/images/4steps.png" alt="4 step shopping online" />
</div>

<div class="clear">
</div>