﻿@using Nop.Core.Domain
@using Nop.Core.Infrastructure
@using Nop.Web.Framework.Themes
@{
    Layout = "";
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var imageFolderPath = "~/Themes/" + currentThemeName + "/Content/";
}

<div class="clients" style="padding: 1em 0 0;">
    <h2 class="title clearfix">
        <span>Liên kết nhanh</span></h2>
    <ul>
        <li class="list-partner-link"><a href="http://www.amazon.com/" >
            <img src="~/Content/Uploads/Clients/amazon-logo.jpg" alt="#" class="partner-logo" /></a></li>

        @*levis*@
        <li><a href="http://www.levis.com.au/au/">
            <img src="~/Content/Uploads/Clients/client-03.jpg" alt="#" /></a></li>

        <li><a href="http://www.ninewest.com/">
            <img src="~/Content/Uploads/Clients/client-02.jpg" alt="#" /></a></li>


        <li class="list-partner-link"><a href="http://www.6pm.com/">
            <img src="~/Content/Uploads/Clients/6pm-logo.gif" alt="#" class="partner-logo" /></a></li>
        
        <li class="list-partner-link"><a href="http://www.nike.com/us/en_us/">
            <img src="~/Content/Uploads/Clients/nike-logo.jpg" alt="#" class="partner-logo" /></a></li>

        <li><a href="http://www.carters.com/">
            <img src="~/Content/Uploads/Clients/client-06.jpg" alt="#" /></a></li>
    </ul>
    <!-- ./clients sytle-->
</div>

