﻿@using System.Web
@using Nop.Core
@using Nop.Core.Domain.Common;
@using Nop.Core.Infrastructure;
@using Nop.Web.Controllers;
@using Nop.Web.Framework.Themes
@{
    

    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var themeFolder = "~/Themes/" + currentThemeName;
    var imageFolderPath = themeFolder + "/Content/";
}

@{
    var displayMiniProfiler = CommonHelper.GetTrustLevel() >= AspNetHostingPermissionLevel.High &&
        EngineContext.Current.Resolve<Nop.Core.Domain.StoreInformationSettings>().DisplayMiniProfilerInPublicStore;

    //resources
    Html.AppendCssFileParts("~/Content/jquery-ui-themes/smoothness/jquery-ui-1.10.3.custom.min.css");
    Html.AppendScriptParts("~/Scripts/public.ajaxcart.js");
    Html.AppendScriptParts("~/Scripts/public.ajaxcommon.js");
    Html.AppendScriptParts("~/Scripts/public.common.js");
    Html.AppendScriptParts("~/Scripts/jquery-ui-1.10.3.custom.min.js");

    Html.AppendScriptParts("~/Scripts/openid/openid-en.js");
    Html.AppendScriptParts("~/Scripts/openid/openid-jquery-1.3b1.js");
    Html.AppendScriptParts("~/Scripts/gmaps.js");
    //Html.AppendScriptParts(@"http://maps.googleapis.com/maps/api/js?sensor=false");
    //Html.AppendScriptParts(@"http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js");

    
    
    //X-UA-Compatible tag
    var commonSettings = EngineContext.Current.Resolve<CommonSettings>();
    if (commonSettings.RenderXuaCompatible)
    {
        Html.AppendHeadCustomParts(string.Format("<meta http-equiv=\"X-UA-Compatible\" content=\"{0}\"/>", commonSettings.XuaCompatibleValue));
    }



}
<!DOCTYPE html>
<html @Html.Partial("LanguageAttributes")>
<head>
    <title>@Html.NopTitle(true)</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="@(Html.NopMetaDescription())" />
    <meta name="keywords" content="@(Html.NopMetaKeywords())" />
    <meta name="generator" content="nopCommerce" />
    @Html.NopHeadCustom()
    @*This is used so that themes can inject content into the header*@
    @Html.Partial("Head")
    @Html.Widget("head_html_tag")
    @Html.NopCssFiles(this.Url, ResourceLocation.Head)

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    @Html.NopScripts(this.Url, ResourceLocation.Head)
    @Html.NopCanonicalUrls()
    @Html.Action("RssHeaderLink", "News")
    @Html.Action("RssHeaderLink", "Blog")
    @*Favicon - upload favicon.ico file to the root directory*@
    @Html.Action("Favicon", "Common")
    @if (displayMiniProfiler)
    {
        @StackExchange.Profiling.MiniProfiler.RenderIncludes()
    }
    <!--Powered by nopCommerce - http://www.nopCommerce.com-->
    <!--Copyright (c) 2008-2013-->

    <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <!--[if gte IE 9]>
            <style type="text/css">
                .center-box{
                filter: none;
            }
            </style>
        <![endif]-->
    <!--[if IE 7]>
            <style>
                #nav-multi{
	                margin-left:0px
                }
                #nav-multi ul{
	                left:-40px;
                }
                #nav-multi ul ul{
	                left:180px;
                }
                #nav-multi ul ul ul{
	                left:180px;
                }
            </style>
    <![endif]-->
    <script>
        var dS = 32;
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#nav-multi li").hover(
	        function () {
	            $(this).children('ul').hide();
	            $(this).children('ul').slideDown('fast');
	        },
	        function () {
	            $('ul', this).slideUp('fast');
	        });

            $('.open-windows').click(function () {

                //Len dau trang
                $('body,html').animate({ scrollTop: 0 }, 'slow');
                var id = '#' + $(this).attr('name');
                //alert(id);
                if (id == '#shipping-popup') {
                    return;
                }

                if (id != '#term-popup') {
                    //dong popup truoc
                    $('#mask').hide();
                    $('.window').hide();
                }
                //Get the screen height and width
                var maskHeight = $(document).height();
                var maskWidth = $(window).width();

                //Set heigth and width to mask to fill up the whole screen
                $('#mask').css({ 'width': maskWidth, 'height': maskHeight });
                //alert(maskWidth);
                //alert(maskHeight);

                //transition effect
                $('#mask').fadeIn(800);
                $('#mask').fadeTo("slow", 0.8);

                //Get the window height and width
                var winH = $(window).height();
                var winW = $(window).width();

                //Set the popup window to center
                $(id).css('top', winH / 2 - $(id).height() / 2);
                $(id).css('left', winW / 2 - $(id).width() / 2);
                //alert(winH / 2 - $(id).height() / 2);
                //alert(winW / 2 - $(id).width() / 2);

                //transition effect
                $(id).fadeIn(500);
            });
            //if close button is clicked
            $('.window .closePopup, #mask').live('click', function () {
                $('#mask , .window').fadeOut(300, function () {
                    $('#mask').hide();
                });
                return false;
            });
            $('.window .closePopup-term').click(function () {
                $('#term-popup').hide();
            });

        });

        $(document).error(function () {
            alert('123');
            //if (xhr.status == 403) {

            //}
        });
    </script>

    
    <script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-51868886-1', 'worldshop.vn');
        ga('send', 'pageview');
    </script>
</head>
<body>

    @RenderBody()

    <!--Đăng nhập-->
    @{
        var dicViewData = new ViewDataDictionary();
        bool viewLogInPopUp = ViewData[CommonController.OpenAuthorizationPopup_Key] == null ? false : ((bool)ViewData[CommonController.OpenAuthorizationPopup_Key]);
        string cancelURL = ViewData[CommonController.CancelUrl_Key] == null ? "" : ((string)ViewData[CommonController.CancelUrl_Key]);
        dicViewData.Add(CommonController.OpenAuthorizationPopup_Key, viewLogInPopUp);
        dicViewData.Add(CommonController.CancelUrl_Key, cancelURL);
    }
    @*@Html.Action("Login", "Customer")*@
    @Html.Partial(themeFolder + "/Views/Customer/LoginPopup.cshtml", null, dicViewData)
    <!-- Đăng ký-->
    @Html.Partial(themeFolder + "/Views/Customer/Register.cshtml", null, dicViewData)

    <!-- end -->
    <!-- PopUp điều khoản sử dụng-->
    <div class="boxes">
        <div id="term-popup" class="window">
            <div id="signup" class="popup">
                <div class="popup-header">
                    <h2>Điều khoản sử dụng</h2>
                    <div align="right" style="font-weight: bold; margin: 5px 3px 0 0;">
                        <a href="javascript:void()" class="closePopup-term">
                            <img src="@Url.Content(imageFolderPath)assets/css/images/icon/close_ico.png" width="16" style="border: none; cursor: pointer;" />
                        </a>
                    </div>
                </div>
                <div class="content-popup">
                    <div class="help_detail">
                        <ol style="font-family: Arial">
                            <li><a href="#q1">Vấn đề miễn trách của www.worldshop.vn</a> </li>
                            <li><strong><a href="#q2">Thông tin giá cả trong www.worldshop.vn</a></strong> </li>
                            <li>
                                <strong><a href="#q3">Các quy định khi đăng thông tin lên www.worldshop.vn</a></strong>
                            </li>
                            <li><strong><a href="#q4">Tiền gửi hàng, thời gian giao hàng</a></strong> </li>
                        </ol>
                        <p style="font-family: Arial">
                            Cảm ơn thành viên đã quan tâm đến website www.worldshop.vn. Để tạo được một website
                            đầy đủ thông tin, hoạt động hiệu quả, luôn là người bạn đồng hành bảo vệc quyền
                            lợi cho người tiêu dùng. Chúng tôi mong thành viên tuân thủ nghiêm túc bảng quy
                            định của www.worldshop.vn. Để đáp ứng được sự thay đổi không ngừng về nội dung,
                            cũng như những yêu cầu mới của thành viên, những quy định này sẽ được thay đổi thường
                            xuyên, do vậy rất mong thành viên dành thời gian tham khảo các quy định mới của
                            chúng tôi mỗi khi sử dụng www.worldshop.vn. Bảng quy định bao gồm các các quy định
                            chung cho toàn website, và các quy định riêng cho từng dịch vụ cụ thể, do vậy khi
                            sử dụng các dịch vụ cụ của website, rất mong thành viên dành thời gian đọc kỹ toàn
                            bộ bảng quy định. Chúng tôi luôn mong nhận được sự đóng góp ý kiến của thành viên
                            về việc tổ chức thông tin, quy định hoạt động để ngày càng đáp ứng được nhu cầu
                            sử dụng cao hơn nữa. Xin chân thành cảm ơn !
                        </p>
                    </div>
                    <div class="clear">
                    </div>
                </div>
                <!-- ./#signup -->
            </div>
        </div>
    </div>
    <!-- end Điều khoản sử dụng-->
</body>
</html>
