﻿@using Nop.Core.Infrastructure
@using Nop.Web.Framework.Themes
@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";

    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var imageFolderPath = "~/Themes/" + currentThemeName + "/Content/";
}

@Html.Partial("_Notifications")
@Html.Action("AdminHeaderLinks", "Common")

 
<div class="wraprer">
    @Html.Action("JavaScriptDisabledWarning", "Common")
    <script type="text/javascript">
        AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
        AjaxCommon.init();
    </script>
    @Html.Partial("Header")
    @Html.Action("TopMenu", "Catalog")
    <div id="main">
        @Html.Widget("content_before")
        <div class="ajax-loading-block-window" style="display: none">
            <div class="loading-image">
            </div>
        </div>
        @RenderBody()
        @Html.Widget("content_after")
    </div>    
</div>

@Html.Action("Footer", "Common")
@Html.Action("EuCookieLaw", "Common")
@Html.Widget("body_end_html_tag_before")
