﻿@using Nop.Core.Infrastructure
@using Nop.Web.Framework.Themes
@{
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var logoPath = "~/Themes/" + currentThemeName + "/Content/images/logo.png";
    var imageFolderPath = "~/Themes/" + currentThemeName + "/Content/";
}

<div class="header">
    @Html.Widget("header")
    @Html.Action("HeaderLinks", "Common")    
</div>
