﻿@using Nop.Core;
@using Nop.Core.Domain
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework.UI
@{
    var supportRtl = EngineContext.Current.Resolve<IWorkContext>().WorkingLanguage.Rtl;
    //var supportResponsive = EngineContext.Current.Resolve<StoreInformationSettings>().ResponsiveDesignSupported;

    <!-- # popUP jquery file -->
    Html.AppendCssFileParts("~/Themes/WorldShop/Content/Assets/css/popup-over.css");
    Html.AppendScriptParts("~/Themes/WorldShop/Content/Assets/js/popup-over.js");

    Html.AppendCssFileParts("~/Themes/WorldShop/Content/css/styles.css");
    Html.AppendCssFileParts("~/Themes/WorldShop/Content/Assets/css/tabs.css");
    
    Html.AppendCssFileParts("~/Themes/WorldShop/Content/Assets/css/account.css");
    Html.AppendCssFileParts("~/Themes/WorldShop/Content/Assets/css/contact.css");

    Html.AppendCssFileParts("~/Themes/WorldShop/Content/Assets/css/nav.css");
    Html.AppendCssFileParts("~/Themes/WorldShop/Content/Assets/css/master.css");
    Html.AppendCssFileParts("~/Themes/WorldShop/Content/Assets/css/product.css");
    Html.AppendCssFileParts("~/Themes/WorldShop/Content/Assets/css/settings.css");
    Html.AppendCssFileParts("~/Themes/WorldShop/Content/Assets/css/kube.min.css");

    Html.AppendCssFileParts("~/Themes/WorldShop/Content/Assets/js/jBxSliders/jquery.bxslider.edit.css");
    Html.AppendScriptParts("~/Themes/WorldShop/Content/Assets/js/jquery_002.js");
    Html.AppendScriptParts("~/Themes/WorldShop/Content/Assets/js/jquery_003.js");
    Html.AppendScriptParts("~/Themes/WorldShop/Content/Assets/js/jBxSliders/jquery.bxslider.js");
    Html.AppendScriptParts("~/Themes/WorldShop/Content/Assets/js/jquery-1.8.2.min.js");

    @*<link rel="stylesheet" type="text/css" href="~/Themes/WorldShop/Content/Assets/css/kube.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Themes/WorldShop/Content/Assets/css/master.css" />
    <link rel="stylesheet" type="text/css" href="~/Themes/WorldShop/Content/Assets/css/nav.css" />
    <link rel="stylesheet" type="text/css" href="~/Themes/WorldShop/Content/Assets/css/product.css" />
    <link rel="stylesheet" type="text/css" href="~/Themes/WorldShop/Content/Assets/css/animation-icon.css" />
    <!-- using temporatory html file -->
    <script src="~/Themes/WorldShop/Content/Assets/js/jquery-1.8.2.min.js" type="text/javascript"></script>
    <!-- # bxSlider jquery file -->
    <link href="~/Themes/WorldShop/Content/Assets/js/jBxSliders/jquery.bxslider.edit.css" rel="stylesheet" type="text/css" />
    <script src="~/Themes/WorldShop/Content/Assets/js/jBxSliders/jquery.bxslider.js" type="text/javascript"></script>
    <!-- # popUP jquery file -->
    <link rel="stylesheet" type="text/css" href="~/Themes/WorldShop/Content/Assets/css/popup-over.css" />
    <script type="text/javascript" src="~/Themes/WorldShop/Content/Assets/js/popup-over.js"></script>
	<!-- # Icon List Products-->
    <script src="~/Themes/WorldShop/Content/Assets/js/prettify.js"></script>
    <script src="~/Themes/WorldShop/Content/Assets/js/raphael-min.js"></script>*@


    //responsive design
    @*if (supportResponsive)
    {

        <meta name="viewport" content="width=device-width, initial-scale=1">
    }*@
}