﻿@model LoginModel
@using System
@using System.Web
@using Nop.Web.Framework.Themes
@using Nop.Web.Models.Customer;
@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Web.Controllers;
@{
    @*Layout = "~/Views/Shared/_ColumnsTwo.cshtml";*@

    //title
    Html.AddTitleParts(T("PageTitle.Login").Text);

    //register URL with return URL (if specified)
    var registerUrl = Url.RouteUrl("Register");
    if (!String.IsNullOrEmpty(this.Context.Request.QueryString["returnUrl"]))
    {
        var webHelper = EngineContext.Current.Resolve<IWebHelper>();
        registerUrl = webHelper.ModifyQueryString(registerUrl, "returnurl=" + HttpUtility.UrlEncode(this.Context.Request.QueryString["returnUrl"]), null);
    }

    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var imageFolderPath = "~/Themes/" + currentThemeName + "/Content/";
    bool showPopUp = (bool)ViewData[CommonController.OpenAuthorizationPopup_Key];
    string cancelUrl = ViewData[CommonController.CancelUrl_Key] == null ? "" : ViewData[CommonController.CancelUrl_Key].ToString();
    //bool showPopUp = false;
    //string cancelUrl = "";
}
<script>
    @if (showPopUp)
    {<text>
    $(document).ready(function () {
        //Len dau trang
        $('body,html').animate({ scrollTop: 0 }, 'slow');
        var id = '#login-popup';
        //alert(id);

        if (id != '#term-popup') {
            //dong popup truoc
            $('#mask').hide();
            $('.window').hide();
        }
        //Get the screen height and width
        var maskHeight = $(document).height();
        var maskWidth = $(window).width();

        //Set heigth and width to mask to fill up the whole screen
        $('#mask').css({ 'width': maskWidth, 'height': maskHeight });
        //alert(maskWidth);
        //alert(maskHeight);

        //transition effect
        $('#mask').fadeIn(800);
        $('#mask').fadeTo("slow", 0.8);

        //Get the window height and width
        var winH = $(window).height();
        var winW = $(window).width();

        //Set the popup window to center
        $(id).css('top', winH / 2 - $(id).height() / 2);
        $(id).css('left', winW / 2 - $(id).width() / 2);
        //alert(winH / 2 - $(id).height() / 2);
        //alert(winW / 2 - $(id).width() / 2);

        //transition effect
        $(id).fadeIn(500);
    });


    function closePopUp() {
        setLocation("@cancelUrl");
    }
    </text>
    }
    // Override form submit
    //alert($("#rowspan div.itemInfrastruc").first().firstChildTop);
    $("#loginForm").live("submit", function (event) {
        event.preventDefault();
        var form = $(this);
        AjaxCommon.callAjax({
            type: 'POST',
            timeout: 500000,
            url: $(this).attr('action'),
            data: $(this).serialize(),
            success: function (response) {
                AjaxCommon.resetLoadWaiting();
                // what goes here... as the form is always successful even if the account details are incorrect
                if (response.message) {
                    //display notification
                    if (response.success == true) {
                        //success
                        if (AjaxCustomer.usepopupnotifications == true) {
                            displayPopupNotification(response.message, 'success', true);
                        } else {
                            //specify timeout for success messages
                            displayBarNotification(response.message, 'success', 3500);
                        }
                    } else {
                        alert(response.message);
                    }
                    return false;
                }
                if (response.redirect) {
                    location.href = response.redirect;
                    return true;
                }
            },
            ajaxFailure: function () {
                AjaxCommon.resetLoadWaiting();
                alert('Có lỗi xảy ra. Xin vui lòng nạp lại (F5) trang.');
            }
        });

    });


</script>
<!--Đăng nhập-->
<div class="boxes">
    <div id="login-popup" class="window">
        <div id="login" class="popup">

            <div class="popup-header">
                <h2>
                    <a><font color="#FFFFFF">Đăng nhập tài khoản của bạn</font></a>
                </h2>
                <div align="right" style="font-weight: bold; margin: 5px 3px 0 0;">
                    <a href="javascript:void()" class="closePopup" @if (!string.IsNullOrWhiteSpace(cancelUrl)) { <text> onclick="closePopUp()" </text>  }>
                        <img src="@Url.Content(imageFolderPath)assets/css/images/icon/close_ico.png" width="16" style="border: none; cursor: pointer;" />
                    </a>
                </div>
            </div>
            <div class="content-popup">
                <div class="col-1">
                    <p class="p-heading">
                        Đăng nhập với mạng xã hội
                    </p>
                    <ul class="p-list">
                        @Html.Action("ExternalMethods", "ExternalAuthentication")
                    </ul>
                </div>
                <div class="strikenWrap">
                    <div class="strikenDiv">
                        <div class="lineThrough" style="height: 195px;">
                        </div>
                        <div class="strikenText">
                            Or
                        </div>
                    </div>
                    <!--end #Striken -->
                </div>
                <div class="col-2">
                    @using (Html.BeginForm("LoginAjax", "Customer", FormMethod.Post, new { id = "loginForm" }))
                    {
                        <p class="p-heading">
                            Đăng nhập với Email của bạn
                        </p>
                        @Html.Hidden("returnUrl", Request.Url.AbsoluteUri)
                        <ul class="p-list-2">
                            <li>
                                @Html.TextBoxFor(m => m.Email, new { @class = "p-input", autofocus = "autofocus", placeholder = "Email (*)" })
                                @*<input type="text" title="Email Address" class="p-input" id="txtEmailLogin" value="Email (*)" />*@
                            </li>
                            <li>
                                @Html.PasswordFor(m => m.Password, new { @class = "p-input", placeholder = "Mật khẩu (*)" })
                                @*<input type="text" title="Passwords" class="p-input" id="txtPasswordLogin" value="Mật khẩu (*)" />*@
                            </li>
                        </ul>
                        <p class="p-terms">
                            <input type="checkbox" class="p-check" /><span>Nhớ tôi</span>
                        </p>
                        @*<input type="button" name="btnReg" class="p-button" value="Đăng nhập" />*@
                        <input class="p-button" type="submit" value="Đăng nhập" />
                        @*<a href="javascript:void(0)"
                            id="add-to-wishlist-button-@Model.AddToCart.ProductId"
                            data-productid="@Model.AddToCart.ProductId"
                             onclick="AjaxCustomer.sendlogin('@Url.RouteUrl("LoginAjax", new { productId = Model.AddToCart.ProductId, shoppingCartTypeId = (int)Nop.Core.Domain.Orders.ShoppingCartType.Wishlist })', '#product-details-form');return false;">*@

                        <div class="clear">
                        </div>
                        <p class="p-link">
                            Bạn chưa có tài khoản?<br />
                            <a href="javascript:void(0)" class="open-windows" name="registration-popup" rel="modalPopup" id="pSignup2">Đăng ký</a> | <a href="javascript:void(0)"
                                                                                                                                                        name="forgetpass-popup" rel="modalPopup" class="open-windows" id="pForgot">Quên mật khẩu</a>
                        </p>
                    }
                </div>
                <div class="clear">
                </div>
            </div>
            <!-- ./#login -->

        </div>
    </div>
    <!-- Mask to cover the whole screen -->
    <div id="mask">
    </div>
</div>
<!-- end boxes-->
