﻿@model PasswordRecoveryModel
@using Nop.Web.Framework.Themes
@using Nop.Web.Models.Customer;
@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Web.Controllers;
@{
    @*Layout = "~/Views/Shared/_ColumnsTwo.cshtml";*@

    //title
    Html.AddTitleParts(T("PageTitle.Login").Text);

    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var imageFolderPath = "~/Themes/" + currentThemeName + "/Content/";
}

<script>
    // Override form submit
    //alert($("#rowspan div.itemInfrastruc").first().firstChildTop);
    $("#passwordRecoveryForm").live("submit", function (event) {
        event.preventDefault();
        var form = $(this);
        AjaxCommon.callAjax({
            type: 'POST',
            timeout: 500000,
            url: $(this).attr('action'),
            data: $(this).serialize(),
            success: function (response){
                AjaxCommon.resetLoadWaiting();
                // what goes here... as the form is always successful even if the account details are incorrect
                if (!response.message) {
                    if (response.success == true) {
                        alert("Email đổi mật khẩu đã được gửi đến hòm thư của bạn.");
                        $('#forgetpass-popup #linkClosePopUp').trigger('click');
                    }
                } else {
                    alert(response.message);
                }
            },
            ajaxFailure: function () {
                AjaxCommon.resetLoadWaiting();
                alert('Có lỗi xảy ra. Xin vui lòng nạp lại (F5) trang.');
            }
        });

    });


</script>

<!--Đăng nhập-->
<div class="boxes">
    <div id="forgetpass-popup" class="window">
        <div id="forgetPass" class="popup">
            <div class="popup-header">
                <h2>Khôi phục mật khẩu của bạn</h2>
                <div align="right" style="font-weight: bold; margin: 5px 3px 0 0;">
                    <a href="javascript:void()" class="closePopup" id="linkClosePopUp">
                        <img src="@Url.Content(imageFolderPath)assets/css/images/icon/close_ico.png" width="16" style="border: none; cursor: pointer;" />
                    </a>
                </div>
                <!--<a class="closePopup" href="javascript:void(0)"></a>-->
            </div>
            <div class="content-popup">
                <div class="col-3">
                    <p class="message-pop">
                        Điền email để đặt lại mật khẩu của bạn. Bạn sẽ nhận được một email hướng dẫn. Nếu
                        bạn đang gặp vấn đề với việc ghi nhớ tên đăng nhập hoặc email, vui lòng gửi cho
                        chúng tôi thông tin phản hồi hoặc gửi mail cho chúng tôi theo địa chỉ hepl@worldshop.vn
                    </p>
                </div>
                <div class="col-4">

                    @using (Html.BeginForm("PasswordRecoveryAjax", "Customer", FormMethod.Post, new { id = "passwordRecoveryForm" }))
                    {
                        <p class="message-pop">
                            @Html.TextBoxFor(model => model.Email, new { @class = "p-input" })
                            <br />
                            <br />
                            <input type="submit" name="btnRecoverPass" id="btnRecoverPass" class="p-button-left" value="Xác nhận" />
                        </p>
                    }

                </div>
                <div class="clear">
                </div>
            </div>
            <!-- ./#signup -->
        </div>
    </div>
    <div id="mask"></div>
</div>
