﻿@model RegisterModel
@using System
@using System.Web
@using Nop.Web.Framework.Themes
@using Nop.Web.Models.Customer;
@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Web.Controllers;
@{
    @*Layout = "~/Views/Shared/_ColumnsTwo.cshtml";*@

    //title
    Html.AddTitleParts(T("PageTitle.Login").Text);

    //register URL with return URL (if specified)
    var registerUrl = Url.RouteUrl("Register");
    if (!String.IsNullOrEmpty(this.Context.Request.QueryString["returnUrl"]))
    {
        var webHelper = EngineContext.Current.Resolve<IWebHelper>();
        registerUrl = webHelper.ModifyQueryString(registerUrl, "returnurl=" + HttpUtility.UrlEncode(this.Context.Request.QueryString["returnUrl"]), null);
    }

    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var imageFolderPath = "~/Themes/" + currentThemeName + "/Content/";
    //Thiết lập giá trị mặc định khi đăng ký tài khoản
    //Model.FirstName = "FirstName";
    //Model.LastName = "LastName";
    bool showPopUp = (bool)ViewData[CommonController.OpenAuthorizationPopup_Key];
    string cancelUrl = ViewData[CommonController.CancelUrl_Key] == null ? "" : ViewData[CommonController.CancelUrl_Key].ToString();
}

<script>
    @if (showPopUp)
    {<text>
    function closePopUp() {
        setLocation("@cancelUrl");
    }
    </text>
    }
    // Override form submit
    //alert($("#rowspan div.itemInfrastruc").first().firstChildTop);
    $("#registerForm").live("submit", function (event) {
        event.preventDefault();
        var form = $(this);
        AjaxCommon.callAjax({
            type: 'POST',
            timeout: 500000,
            url: $(this).attr('action'),
            data: $(this).serialize(),
            success: function (response) {
                AjaxCommon.resetLoadWaiting();
                // what goes here... as the form is always successful even if the account details are incorrect
                if (response.message) {
                    //display notification
                    if (response.success == true) {
                        //success
                        if (AjaxCustomer.usepopupnotifications == true) {
                            displayPopupNotification(response.message, 'success', true);
                        } else {
                            //specify timeout for success messages
                            displayBarNotification(response.message, 'success', 3500);
                        }
                    } else {

                        //error

                        //if (AjaxCustomer.usepopupnotifications == true) {
                        //    displayPopupNotification(response.message, 'error', true);
                        //} else {
                        //    //no timeout for errors
                        //    displayBarNotification(response.message, 'error', 0);
                        //}
                        alert(response.message);

                    }
                    return false;
                }
                if (response.redirect) {
                    location.href = response.redirect;
                    return true;
                }
            },
            ajaxFailure: function () {
                AjaxCommon.resetLoadWaiting();
                alert('Có lỗi xảy ra. Xin vui lòng nạp lại (F5) trang.');
            }
        });

    });


</script>


<div class="boxes">
    <div id="registration-popup" class="window">
        <div id="signup" class="popup">

            <div class="popup-header">
                <h2>Đăng ký tài khoản</h2>
                <div align="right" style="font-weight: bold; margin: 5px 3px 0 0;">
                    <a href="javascript:void()" class="closePopup" @if (!string.IsNullOrWhiteSpace(cancelUrl)) { <text> onclick="closePopUp()" </text>  }>
                        <img src="@Url.Content(imageFolderPath)assets/css/images/icon/close_ico.png" width="16" style="border: none; cursor: pointer;" />
                    </a>
                </div>
            </div>
            <div class="content-popup">
                <div class="col-1">
                    <p class="p-heading">
                        Đăng ký với mạng xã hội
                    </p>
                    <ul class="p-list">
                        @*@Html.Action("ExternalMethodsSignup", "ExternalAuthentication")*@
                    </ul>
                </div>
                <div class="strikenWrap">
                    <div class="strikenDiv">
                        <div class="lineThrough" style="height: 265px;">
                        </div>
                        <div class="strikenText">
                            Or
                        </div>
                    </div>
                    <!--end #Striken -->
                </div>
                <div class="col-2">
                    @using (Html.BeginForm("RegisterAjax", "Customer", FormMethod.Post, new { id = "registerForm" }))
                    {

                        <p class="p-heading">
                            Đăng ký với Email của bạn
                        </p>
                        @Html.AntiForgeryToken()
                        @Html.Hidden("returnUrl", Request.Url.AbsoluteUri)
                        @Html.Hidden("FirstName", "FirstName")
                        @Html.Hidden("LastName", "LastName")
                        <ul class="p-list-2">
                            <li>
                                @Html.TextBoxFor(model => model.Email, new { @class = "p-input", placeholder = "Email (*)" })
                                @*@Html.TextBox("Email", "Email (*)", new { @class = "p-input"})*@
                            </li>
                            <li>
                                @Html.PasswordFor(model => model.Password, new { @class = "p-input", placeholder = "Mật khẩu (*)" })
                                @*@Html.Password("Password", "", new { @class = "p-input"})*@
                            </li>
                            <li>
                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "p-input", placeholder = "Xác nhận mật khẩu (*)" })
                                @*@Html.Password("ConfirmPassword", "", new { @class = "p-input"})*@
                            </li>
                        </ul>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $('#register-button').click(function () {
                                    if ($('#accept-privacy-policy').is(':checked')) {
                                        //do some stuff
                                        return true;
                                    }
                                    else {
                                        //just show validation errors, dont post
                                        alert('@Html.Raw(HttpUtility.JavaScriptStringEncode("Xin vui lòng chấp nhận điều khoản để thực hiện đăng ký."))');//T("Account.Fields.AcceptPrivacyPolicy.Required").Text))');
                                        return false;
                                    }
                                });
                            });
                        </script>
                        <p class="p-terms">
                            <a href="javascript:void(0)" name="term-popup" class="open-windows">Điều khoản sử dụng dịch vụ</a>
                            <br>
                            <input type="checkbox" name="accept-privacy-policy" id="accept-privacy-policy" class="p-check" /><span>Tôi đã đọc và đồng ý với các điều khoản</span>
                        </p>
                        <input type="submit" name="register-button" id="register-button" class="p-button" value="Đăng ký" />
                        <div class="clear">
                        </div>
                        <p class="p-link">
                            Bạn đã đăng ký? <a href="javascript:void(0)" class="open-windows" name="login-popup" rel="modalPopup" id="pSignup2">Đăng nhập</a>
                        </p>
                    }
                </div>
                <div class="clear">
                </div>
            </div>
            <!-- ./#signup -->


        </div>
    </div>
    <!-- Mask to cover the whole screen -->
    <div id="mask">
    </div>
</div>


<!-- end boxes-->
