﻿@model TATModel
@using Nop.Web.Models.ShippingCharge;
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework.Themes;
@{
    Layout = "";
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var imageFolderPath = "~/Themes/" + currentThemeName + "/Content/";
}

<div class="box">
    <div class="title-grey2">
        <h3>
            Chăm sóc khách hàng
        </h3>
    </div>
    <div class="center-box-wp">
        <div class="supports">
            <strong>
                <a href="#" class="sup-title">Bán hàng trực tuyến</a><br />
                <a href="#" class="sup-title">Thông tin giá cước và dịch vụ</a>
            </strong>
            <ul class="clearfix">
                <li>
                    <span class="place">Hà nội:</span><span class="icon">
                        <a href="#">
                            <img src="@Url.Content(imageFolderPath)Assets/css/images/icon-skype.png"
                                 alt="skype" />
                        </a> <a href="#">
                                 <img src="@Url.Content(imageFolderPath)Assets/css/images/icon-yahoo.png" alt="yahoo" />
                        </a>
                    </span>
                </li>
                <li>
                    <span class="place">Tp. HCM:</span><span class="icon">
                        <a href="#">
                            <img src="@Url.Content(imageFolderPath)Assets/css/images/icon-skype.png"
                                 alt="skype" />
                        </a> <a href="#">
                                 <img src="@Url.Content(imageFolderPath)Assets/css/images/icon-yahoo.png" alt="yahoo" />
                        </a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
