﻿@model TATModel
@using Nop.Web.Models.ShippingCharge;
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework.Themes;
@{
    Layout = "";
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var imageFolderPath = "~/Themes/" + currentThemeName + "/Content/";
}

<div class="facebook">
    <a href="#">
        <img src="@Url.Content(imageFolderPath)Assets/css/images/facebook.jpg" alt="facebook" />
    </a>
</div>
