#mycustomscroll {
/* Typical fixed height and fixed width example */
width: 100%;
height: 238px;
overflow: auto;
/* IE overflow fix, position must be relative or absolute*/
position: relative;
background-color: #fff;
margin: 0 auto;
}

.fixedwidth {
/* a wide div is used for creating horizontal scrollbars for demonstration purposes */
width: 100%;
height: auto;
position: relative;
color: black;
padding: 1px;
}

.term-content { position: relative;}
