﻿/* AJAX LOADING INDICATOR */
.ajax-loading-block-window{position:fixed;top:50%;left:50%;width:128px;height:128px;overflow:hidden;z-index:100000;}
.ajax-loading-block-window .loading-image{position:absolute;top:0;left:0;width:128px;height:128px;background-image:url('images/ajax_loader_large.gif');}
.please-wait{background:url('images/ajax_loader_small.gif') no-repeat;padding-left:20px;}

/* NOTIFICATIONS */
.bar-notification{display:none;left:0;position:fixed;top:0;width:100%;z-index:100000;}
.bar-notification.success{background:none repeat scroll 0 0 #91BD09;border-bottom:3px solid #FFFFFF !important;color:#FFFFFF;margin:0 0 10px;}
.bar-notification.error{background:none repeat scroll 0 0 #CC0000;border-bottom:3px solid #FFFFFF !important;color:#FFFFFF;margin:0 0 10px;}
.bar-notification .close{background:url(images/ico-close-notification-bar.png) no-repeat;width:20px;height:20px;float:right;margin:9px 9px 0px 0px;cursor:pointer;}
.bar-notification p.content{padding:0px 10px;margin:10px 0px;}
.bar-notification p.content a{text-decoration:underline;color:#FFFFFF;}
.bar-notification p.content a:hover{text-decoration:none;color:#FFFFFF;}


/* EU COOKIE LAW */
.eu-cookie-bar-notification{display:none;left:0;position:fixed;bottom:0;width:100%;z-index:100000;background:none repeat scroll 0 0 #F6F6F4;border-top:3px solid #FFFFFF !important;color:#5C5B5B;margin:0px;}
.eu-cookie-bar-notification .content{padding:0px 10px;margin:10px 0px;zoom:1;}
.eu-cookie-bar-notification .content:after{content:".";display:block;clear:both;height:0;font-size:0;line-height:0;visibility:hidden;}
.eu-cookie-bar-notification .content .text{float:left;padding-top:5px;}
.eu-cookie-bar-notification .content .ok-button{float:left;margin-left:10px;}
.eu-cookie-bar-notification .content a.learn-more{float:left;margin-left:10px;padding-top:5px;text-decoration:underline;color:#5C5B5B;}
.eu-cookie-bar-notification .content a.learn-more:hover{text-decoration:none;color:#5C5B5B;}


