@charset "UTF-8";

/** 
 * NVIDIA CSS Drop-Down Menu Theme
 *
 * @file		default.css
 * @name		NVIDIA
 * @version		0.1
 * @type		transitional
 * @browsers	Windows: IE6+, Opera7+, Firefox3+
 *				Mac OS: Safari2+, Firefox3+
 *
 * @link		http://www.lwis.net/free-css-drop-down-menu
 * @copyright	2008-2012 Live Web Initiatives, http://www.lwis.net
 *
 */


/* -- Base drop-down styling -- */

ul.dropdown {
 font: normal 12px Tahoma;
 text-transform: none;
}

	ul.dropdown li {
	background:url(bgr-nav-2.png) repeat-x 0 0;
	border-right:1px solid #fff;
	float:left;
	display:inline;
	height:19px;
	line-height:19px;
	padding:8px 22px;
	}
	ul.dropdown li:hover {
	background: #5e5e5e;
	}

	ul.dropdown a:link,
	ul.dropdown a:visited { color: #fff; text-decoration: none; }
	ul.dropdown a:hover { color: #fff; text-decoration: none; }
	ul.dropdown a:active { color: #fff; }

	/* -- level mark -- */

	ul.dropdown ul {
	 width: 250px;
	 background-color: #5e5e5e;
	 color: #fff;
	 font-size: 11px;
	 text-transform: none;
	 filter: alpha(opacity=90);
	 -moz-opacity: .9;
	 KhtmlOpacity: .9;
	 opacity: .9;
	}

		ul.dropdown ul li {
		  background: none;
		 color: #fff;
		 filter: none;
        color: #FFFFFF;
        display: block;
        height: 26px;
		}

		ul.dropdown ul li.hover,
		ul.dropdown ul li:hover 
		{
            background-color: #b1b1b1; 
		}

		ul.dropdown ul a:link,
		ul.dropdown ul a:visited { color: #fff; }
		ul.dropdown ul a:hover { color: #fff; text-decoration: none; }
		ul.dropdown ul a:active { color: #fff; }


/* -- Supporting class `dir` -- */

ul.dropdown *.dir {
 background-image: none;
 background-position: 100% 50%;
 background-repeat: no-repeat;
}