@charset "UTF-8";

/** 
 * NVIDIA Advanced CSS Drop-Down Menu Theme
 *
 * @file		default.advanced.css
 * @name		NVIDIA
 * @version		0.1
 * @type		transitional
 * @browsers	Windows: IE7+, Opera7+, Firefox3+
 *				Mac OS: Safari2+, Firefox3+
 *
 * @link		http://www.lwis.net/free-css-drop-down-menu
 * @copyright	2008-2012 Live Web Initiatives, http://www.lwis.net
 *
 */

@import "default.css";


/* -- Base style extension -- */

ul.dropdown li a {
}


/* -- Base style override -- */

ul.dropdown li {
}


/* -- Base style reinitiate: post-override activities -- */

ul.dropdown li.dir {
}

ul.dropdown ul li.dir {
}


/* -- Custom -- */

ul.dropdown ul a {
 padding:0 0 0 20px;
}

ul.dropdown ul a:hover {
 /*background-color: #b1b1b1; */
 height: 26px;
}


/* -- Drop-down open -- */
ul.dropdown li ul li{
 border-right: none;
 width: 250px;
 padding: .3em 0;
 margin: 0;
}
ul.dropdown li ul li a{
 display: block;
}

ul.dropdown li:hover > a.dir {
 color: #76b900;
}

ul.dropdown ul li:hover > a.dir {
 color: #fff;
}