/* =Account page style
-----------------------------------------------------------------------------*/
.profiles{
  overflow: hidden;
  position: relative;
  padding: 1.8em 1.5em;
}
.profiles table{
    float: left;
}
.profiles th, .profiles td { position: relative; border: none; color: #48484a; font: bold 13px/18px Tahoma;}
.profiles input {
    border: 1px solid #cccccc;
    color: #333333;
    font: normal 13px/18px Tahoma;
    height: 26px;
    padding: 0 10px;
    width: 356px;
}
.profiles select {
     border: 1px solid #cccccc;
    color: #333333;
    font: normal 13px/18px Tahoma;
    height: 26px;
    padding: 0 0 0 10px;
    width: 267px;
}
.profiles select.short {
    width: 81px;
}
.profiles  input[type="radio"], .profiles input[type="checkbox"] {
    width: auto;
    height: 22px;
    padding: 0;
}
.profiles span.label-sex {
    position: relative;
    top: -8px;
    font-weight: normal;
}
.profiles input.button-submit {
    background: transparent url(images/icon/icon-button-submit.png) no-repeat scroll 0 0;
    height: 37px;
    width: 110px;
    border: none;
    padding: 0;
    color: #fff;
    font: bold 13px/36px Tahoma;
    text-align: center;
    text-transform: uppercase;
}

.profiles a {
   color: #ed1c24;
}
.profiles a.change-password {
   color: #ed1c24;
   font: normal 12px/16px Tahoma;
}

/*-- Avatar --*/
#avatar {
   float: right;
   width: 117px;
   padding: 0 5% 0 0;
}
#avatar .avatar-holder{
   text-align: center;
   position: relative;
   font: normal 12px/18px Tahoma;
   color: #48484a;
}
#avatar .avatar-holder img{
   border: solid 1px #ddd;
   padding: 2px;
}
#avatar .avatar-holder p{
   padding: 10px 0;
   margin: 0;
}
#avatar input.button-browse {
    background: transparent url(images/icon/icon-button-browse.jpg) no-repeat scroll 0 0;
    height: 22px;
    width: 75px;
    border: none;
    padding: 0;
}

/* =Order by Account page style
-----------------------------------------------------------------------------*/
.account-order {
  overflow: hidden;
  position: relative;
  width: 100%;
}
#order-tracker {
    font: normal 12px/20px Tahoma;
	margin: 0;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
#order-tracker th {
	padding: 4px 10px;
	font-weight: bold;
	color: #444;
	text-align: center;
	background: #efedee;
	border-right: 1px dashed #d6d2d3;
}
#order-tracker th:last-child {
	border-right: none;
}
#order-tracker tbody {
	background: #fff;
}
#order-tracker td {
	padding: 10px;
	text-align: center;
	color: #484848;
	border-right: 1px dashed #d6d2d3;
	border-top: 1px solid #d6d2d3;
	border-bottom: none;
    font: normal 12px/20px Tahoma;
}
#order-tracker td:last-child {
    border-right: none;
}
#order-tracker tbody tr:hover td {
	color: #484848;
	background: #fff;
}

#order-tracker td .acc-order-pro, #order-tracker td .acc-order-title {
	float: left;
}
#order-tracker td .acc-order-pro {
	padding: 0 10% 0 0;
}
#order-tracker td .acc-order-pro img{
	padding: 0;
	border: solid 1px #ddd;
}
#order-tracker td .acc-order-title h3 {
	padding: 0;
	margin: 0 0 1em;
    font: bold 14px/20px Tahoma;
}
#order-tracker td .acc-order-title .button-view {
	background: transparent url(images/icon/icon-button-view.jpg) no-repeat scroll 0 0;
    height: 34px;
    width: 92px;
    border: none;
    padding: 0;
    display: block;
}
#order-tracker td .pro-location {
	color: #ec1d25;
}