/* CSS Document */
.livicon {
  display: inline-block;
  float: left;
  height: 20px !important;
  line-height: inherit;
  margin: 0 8px 0 0;
  vertical-align: middle;
  width: 20px !important;
}
ul#nav-left li .icon{
	width:185px;
	height:25px;
	}
/*ul#nav-left li{
	position:relative}
ul#nav-left li img#makeUp{
	position:absolute;}*/
ul#nav-left li:hover img#makeUp{
  	border: 1px solid red;
    text-align: center;
    width: 20px;
    position: relative;
    animation: spinAround 400ms linear infinite;
    -moz-animation: spinAround 400ms linear infinite;
    -webkit-animation: spinAround 400ms linear infinite;
    -o-animation: spinAround 400ms linear infinite;
	border:none;
	margin-right:8px !important;
}
@keyframes spinAround {
   from {top: -1px;}
    to {top: 15px;opacity:0.1;}
}

/* Hien thi cho Firefox */
@-moz-keyframes spinAround {
     from {top: -1px;}
    to {top: 15px;opacity:0.1;}
}

/* Hien thi cho Safari and Chrome */
@-webkit-keyframes spinAround {
     from {top: -1px;}
    to {top: 15px;opacity:0.1;}
}

/* Hien thi cho Opera */
@-o-keyframes spinAround {
     from {left: -1px;}
    to {left: 6px;}
}
ul#nav-left li img {
    width: 20px;
    height: 20px;
	margin-right:8px !important;

}
ul#nav-left li:hover img#fashion {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}