/* =Shopping cart style
-----------------------------------------------------------------------------*/
#shopping-cart {
    position: relative;
    width:100%;
}

.step-img {
    background: url(images/step-cart.gif) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 28px;
    overflow: hidden;
    text-indent: -9999px;
    width: 100%;
}

.step-one {
    background: url(images/step-cart.gif) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.step-two {
    background: url(images/step-cart.gif) no-repeat scroll 0 -28px rgba(0, 0, 0, 0);
}
.step-three {
    background: url(images/step-cart.gif) no-repeat scroll 0 -56px rgba(0, 0, 0, 0);
}
.page-cart {
    position: relative;
    width:100%;
    margin: 1.5em 0;
}
.page-cart h3 {
    color: #626262;
    font: bold 15px/24px Tahoma;
    margin: 0 0 1.5em;
    padding: 0;
}
.page-cart h3 span {
    background: none repeat scroll 0 0 #DE0101;
    border-radius: 50%;
    color: #FFFFFF;
    display: block;
    float: left;
    height: 24px;
    line-height: 24px;
    margin-right: 10px;
    text-align: center;
    width: 24px;
}

.box-cart {
    border: 1px solid #DFDEDE;
    margin-bottom: 1.5em;
    overflow: hidden;
    padding: 25px 1.5em 1.5em;
}
.col-acount {
    display: inline;
    float: left;
    padding: 0 50px;
    width: 280px;
}

.col-address {
    overflow: hidden;
    padding: 0 50px;
    border-left: solid 1px #ddd;
}

.box-cart-confirm {
    border: 1px solid #DFDEDE;
    margin-bottom: 1.5em;
    overflow: hidden;
    padding: 25px 3.5em 1.5em;
}
.col-confirm {
    display: inline;
    float: left;
    padding: 0;
    width: 130px;
}
.col-confirm-message {
    overflow: hidden;
    padding: 0 0 0 3em;
    border-left: solid 1px #ddd;
}
.box-cart-confirm h4.confirm-title{
    color: #ed1c24;
    display: block;
    font: bold 16px/20px Tahoma;
    margin-bottom: 2em;
}
.box-cart .color-one {
    color: #ed1c24;
    display: block;
    font: bold 13px/20px Tahoma;
    margin-bottom: 5px;
}
.btn-red {
    background: url(images/btn-one.gif) repeat-x scroll 0 -25px rgba(0, 0, 0, 0);
    border: 0 none;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Tahoma,Geneva,sans-serif;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    margin: 0 auto;
    padding: 0 5px;
    text-align: center;
}
.box-cart-product {
    border: 1px solid #DFDEDE;
    margin-bottom: 1.5em;
    overflow: hidden;
    padding: 0;
    position: relative;
}

#hor-product {
	font: normal 12px/20px Tahoma;
	background: #fff;
	margin: 0;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}
#hor-product td {
	border-bottom: 1px solid #ccc;
	color: #444;
	padding: 1em 1.5em;
	vertical-align: middle;
}
#hor-product tbody tr:hover td{
	color: #444;
}

#hor-product td .acc-order-pro, #hor-product td .acc-order-title {
	float: left;
}
#hor-product td .acc-order-pro {
	padding: 0 10% 0 0;
}
#hor-product td .acc-order-pro img{
	padding: 0;
	border: solid 1px #ddd;
}
#hor-product td .acc-order-title h3 {
	padding: 0;
	margin: 0 0 1em;
    font: bold 14px/20px Tahoma;
}
#hor-product td .price {
	color: #ec1d25;
	font: bold 16px/20px Tahoma;
}

.choise-method {
    overflow: hidden;
    padding: 1.2em;
    position: relative;
}
.choise-method .button-confirm-order{
    padding: 1em 0 0;
}

/* --- Payment step 03 - table TOP --- */
#payment-top {
	background: #fff;
	margin: 0;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}
#payment-top td {
	border: 1px solid #ccc;
	font: bold 13px/20px Tahoma;
	color: #444;
	padding: 1em;
	vertical-align: middle;
}
#payment-top td span.payment-total{
	font: bold 13px/20px Tahoma;
	color: #df0001;
	float: right;
}
/* --- Payment step 03 - table detail --- */
#payment-detail {
	background: #fff;
	margin: 1em 0;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
	font: normal 12px/20px Tahoma;
}
#payment-detail .th-empty{
	width: 14%;
}

#payment-detail tbody tr:hover td{
	color: #444;
}
#payment-detail td.td-center {
	text-align: center;
}
/* --- Payment step 03 - payment menthod--- */
#payment-method {
	background: #fff;
	margin: 3em 0;
	padding: 1em;
	border-collapse: collapse;
	text-align: left;
	font: normal 12px/20px Tahoma;
	border: solid 1px #df0001;
}
#payment-method ul{
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
#payment-method ul li{
    margin: 0 0 2em;
    padding: 0 0 2em;
    border-bottom: solid 1px #e8e8e8;
}
#payment-method ul li:last-child{
    margin: 0 0 2em;
    padding: 0;
    border-bottom: none;
}
#payment-method ul li .icon-method{
    width: 15%;
    text-align: center;
}
#payment-method ul li .label-check{
   	font: bold 14px/16px Tahoma;
}
#payment-method ul li p{
   	font: normal 11px/16px Tahoma;
   	padding: .3em 0 0;
}

#payment-method ul.method-faq{
    overflow: hidden;
    margin: 0;
    padding: 0 .3em;
    list-style-type:circle;
    list-style-position:inside;
}
#payment-method ul.method-faq li{
    margin: 0;
    padding: .5em 0 0;
    border-bottom: none;
}


/* --- 
Insert table excel --- */

.table-exel{
    position: relative;
    margin: 1em 0 0;
}
#tb-first {
	font: normal 11px/20px Tahoma;
	background: #fff;
	margin: 0 0 1em;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}
#tb-first td {
	border-bottom: 1px solid #eee;
	color: #444;
	padding: 1em 1.5em;
	vertical-align: middle;
}
#tb-first tbody tr:hover td{
	color: #444;
}

.info-table-exel {
	border:#636363 solid 1px;
	width:100%;
}
.info-table-exel td, .info-table-exel th {
	text-align:center;
	padding:5px;
	border:#636363 solid 1px;
	vertical-align:middle;
}
.info-table-exel th {
	background-color:#D3D3D3;
}
.info-table-exel th#price, .info-table-exel th#money{
	width:114px;
}