/* =Account page style
-----------------------------------------------------------------------------*/
.form-contact{
    overflow: hidden;
    position: relative;
    margin: 1.2em 0;
}
.form-contact .col-30{
    float: left;
    width: 30%;
    margin-right: 3%;
    text-align: left;
}
.form-contact .col-40{
    float: left;
    width: 40%;
    margin-right: 2%;
    text-align: left;
}

.locations{
    position: relative;
}
.locations .map {
    position: relative;
    border: solid 1px #b1b1b1;
    display: block;
}

.locations h4{
    color: #ed1c24;
    text-transform: uppercase;
    font: bold 12px/18px Tahoma;
    margin: 1em 0 1em;
    padding: 0;
}
.locations ul {list-style: none; margin: 0; padding: 0;}
.locations ul li {margin: 0; padding: 0 0 .6em;}

.locations .td-right {float: right;}
.locations .td-left {float: left; width: 30%; text-align: left;}
.locations select {
    border: 1px solid #b1b1b1;
    color: #333333;
    font: normal 13px/18px Tahoma;
    height: 22px;
    padding: 0 0 0 10px;
    width: 190px;
}
.locations .search-location {
    background: transparent url(images/btn-search-location.png) no-repeat scroll 0 0;
    font: bold 12px/25px Tahoma;
    color: #fff;
    display: block;
    text-align: center;
    width: 73px;
    height: 25px;
}

.form-contact ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.form-contact ul li {
    margin: 0;
    padding: 0 0 5px;
}
.form-contact .lable-float {
    color: #343434;
    font: 12px/18px Tahoma;
    width: 100%;
    display: block;
}
.form-contact .input-float {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #b1b1b1;
    border-radius: 0;
    color: #474747;
    font-weight: bold;
    height: 18px;
    width: 99%;
    text-align: left;
}

.locations .td-desc-right {float: left; text-align:left; width:65%;}
.locations .td-desc-left {float: left; width: 35%; text-align: left;}