﻿
/* =Typography
-----------------------------------------------------------------------------*/
body {
font-family: Tahoma, Geneva, sans-serif;
min-width:980px;
font-size:12px;
line-height:1.5;
color:#48484a;
background: url(images/bd-bgr.gif) repeat-x;
}

/* =Links
-----------------------------------------------------------------------------*/
p{
	line-height:1.5;
	}
a, a:hover{
	color:#5e5e5e;
	text-decoration:none;
	}
a:hover{
	color:#de0101;
	}
.posleft{
	float:left;
	left:50%;
	position:relative;
	}
.posright{
	float:left;
	right:50%;
	position:relative;
	}
.fleft{
	float:left;
	}
.clear{
	clear:both;
	visibility:hidden;
	height:0;
	line-height:0;
	font-size:0px;
	overflow:hidden;
	}
.over{
	overflow:hidden;
	}
.fright{
	float:right;
	}
.clearfix:before, .clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }

/* * For IE 6/7 only * Include this rule to trigger hasLayout and contain floats. */

.clearfix { *zoom: 1; }
/* =Layout
-----------------------------------------------------------------------------*/
.wraprer{
	width:980px;
	position:relative;
	margin:0 auto;
	padding:20px 0 50px;
}

/* =Header
-----------------------------------------------------------------------------*/
#header .fright span{
	color:#848484;
	float:left;
	display:inline;
	font-size:11px;
	padding:0 9px;
}
#header .fright a{
	font-size:11px;
	float: left;
	display:inline;
}
#sub-head{
	margin-top:20px;
}

h1#logo{float:left;width:362px; height:52px; position: relative; top: -5px; margin: 0 95px 0 0;}
h1#logo span{width:362px; height:52px; display:block; overflow:hidden; text-indent:-9999px;}
#search{width:375px; float:left; position: relative; top: 3px;}
#cart-wishlist{width:145px; float:right; position:relative;}
#cart-wishlist strong{font-size: 14px;}
#cart-wishlist span{display: block; font-size: 11px;}

#cart-wishlist div.fleft{padding-right: .5em;}
#cart-wishlist div.fleft:nth-child(2){position: relative; top: -2px;}
#cart-wishlist div.fleft:last-child{padding-right: 0em;}

#cart-wishlist .block-fav {
    position: relative;
    width: 36px;
    top: 5px;
}
#cart-wishlist .block-hidden {
    display: none;
}
/*#cart-wishlist:hover .block-hidden {
    position: absolute;
    display: block;
    top: 32px;
    right: 0;
    padding: .3em 0;
    background: #fff;
    width: 380px;
    border: solid 1px #dfdfdf;
    z-index: 999;
}*/

#cart-wishlist .block-hidden h3{margin:0 0 .5em; padding:0 1em .6em; font: bold 13px/20px Tahoma; color: #48484a; border-bottom: solid 1px #ddd;}
#cart-wishlist .block-hidden h4{margin:0 0 .5em; padding:0 0 .6em; }
#cart-wishlist .block-hidden h4 a{font: bold 13px/20px Tahoma; color: #48484a; }

#cart-wishlist .block-hidden table {margin:0; }
#cart-wishlist .block-hidden table td{margin:0; padding: 0.5em 0; font: bold 12px/20px Tahoma; color: #48484a; border-bottom: none;}
#cart-wishlist .block-hidden table td p{position: relative; padding: 0; margin: 0; font-weight: normal;}
#cart-wishlist .block-hidden table td img{border: solid 1px #ddd; margin: 0 .8em;}
#cart-wishlist .block-hidden table td span.td-span{position: relative;float: none; color: #f0252c;}

#cart-wishlist ul{position:relative; list-style: none; margin:0; padding:0;}
#cart-wishlist ul li{display: inline; margin:0; padding:0;}
#cart-wishlist ul li img.fav{position: relative; top: 7px; padding: 0 0 0 5px;}

/*-- edit search --*/
.lits-category {
    border-radius: 5px 0 0 5px;
    border-left: 1px solid #EBEBEB;
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    float: left;
    height: 38px;
    margin: 0;
    padding: 0 15px 0 0;
}
.select-box {
    background: url(images/bg-drop-select.gif) no-repeat scroll 93% 50% #FFFFFF;
    display: inline-block;
    font-weight: 300;
    height: 25px;
    margin: 0;
    overflow: hidden;
    padding: 5px 30px 5px 0;
    vertical-align: middle;
    width: 64px;
}
.lits-category select {
    float: left;
    padding: 11px 10px 0;
    text-align: left;
}
.select-box select {
    background: none repeat scroll 0 0 rgba(143, 149, 163, 0);
    border: medium none;
    border-radius: 0;
    color: #787878;
    cursor: pointer;
    float: left;
    font-size: 100%;
    line-height: 1;
    padding: 2px;
    text-indent: 3px;
    width: 155px;
}

.form-search {
    float: left;
    height: 100%;
}
.form-search input.input-text, .form-search input.input-text:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    border: solid 1px #EBEBEB;
    border-radius: 0;
    float: left;
    padding: 10px;
    width: 160px;
}

.form-search .btn-search{
	background:url(images/btn-search.gif) repeat-x 0 0;
	height:37px;
	line-height:37px;
	padding:0 10px;
	color:#fff;
	font-weight:bold;
	font-size:11px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border:2px solid #d2cfcf;
	border-left:0;
	font-family: Tahoma;
}


#search ul{
	margin:0;
	list-style:none;
	padding:0;
	}
#search ul li{
	float:left;
	display:inline;
	}
#search ul li.select{
	border:1px solid #d2cfcf;
	height:34px;
	line-height:34px;
	font-size:11px;
	color:#aaa;
	-webkit-border-top-left-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-bottomleft: 4px;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
padding:0 1em;
border-right:0;
}
#search .text-search{
	height:34px;
	line-height:34px;
	color:#aaa;
	font-size:11px;
	padding:0 5px;
	border:1px solid #d2cfcf;
	width:200px;
}
#search .btn-search{
	background:url(images/btn-search.gif) repeat-x 0 0;
	height:36px;
	line-height:36px;
	padding:0 10px;
	color:#fff;
	font-weight:bold;
	font-size:11px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border:1px solid #d2cfcf;
	border-left:0;
}
	
/* =Nav-dropdown
-----------------------------------------------------------------------------*/
#nav-dropdown{
	margin-top:30px;
	margin-bottom:10px;
}	
#nav-dropdown ul li.first, #nav-dropdown ul li.last{
	padding:8px 14px;
	background:url(images/grey-menu.png) repeat-x 0 0;
}
#nav-dropdown ul li.last{
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border:0;
	padding: 8px; /*gốc : 8px 10px 8px 13px*/
}
#nav-dropdown ul li.first{
	-webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#nav-dropdown ul li a{
	font-weight:bold;
	color:#fff;
}	
/* =Misc
-----------------------------------------------------------------------------*/
#main{
	position:relative;
	}
.col-alpha, .col-gamma{
	width:197px;
	float:left;
	display:inline;
}
.col-gamma{
	width:566px;
}
.col-beta, .col-delta{
	width:757px;
	float:right;
	display:inline;
}
.col-delta{
	width:182px;
}

/* title page */
h2.title{
	border-top:2px solid #de0101;
	font-size:13px;
	line-height:1.5;
	position:relative;
	margin:1.5em 0 0;	
	padding: 0;
}
h2.title span{
	color:#de0101;
	font: bold 13px/18px Tahoma;
	background:#fff;
	display:inline;
	float:left;
	padding: 3px 8px;
	position:relative;
	top:-1.2em;
	margin-left:2em;
}	
/* sub title page */
h3.sub-title{
	line-height:1.5;
	position:relative;
	margin:0;	
	padding:0 0 10px;
}
h3.sub-title a{
	color:#5e5e5e;
	font: normal 10px/18px Tahoma;
	text-transform: uppercase;
}

/* view title page */
h5.view-more{
	line-height:1.5;
	position:relative;
	margin:0;	
	padding:0;
}
h5.view-more a{
	color:#5e5e5e;
	font: normal 10px/18px Tahoma;
	text-transform: uppercase;
}
/* banner */
#banner{
	margin-bottom:10px;
	position: relative;
}
/* = steps
-----------------------------------------------------------------------------*/
#steps{
	margin-bottom:10px;
	position: relative;
}

/* = box style
-----------------------------------------------------------------------------*/
.box{
	margin-bottom:1.5em;
	position:relative;
	}
.title-grey, .title-grey2, .title-red{
	background:url(images/title-grey.png) repeat-x 0 0 #555656;
	padding:8px 10px;
	overflow:hidden;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	position:relative;
	display:block;
	}
a.more-title{
	position:absolute;
	top:9px;
	right:15px;
	z-index:10;
	font-size:10px !important;
	}
a.more-title:hover{
	text-decoration:underline;
	}
 .title-grey2{
	background:url(images/title-grey2.gif) repeat-x 0 0 #616262;
	}
 .title-red{
	background:url(images/title-red.png) repeat-x 0 0 #ea1a22;
	}
.title-grey a, .title-grey2 a, .title-red a, .title-grey h2, .title-grey h3, .title-grey2 h3, .title-red h3{
	color:#fff;
	margin:0;
	padding:0;
	line-height:1.4;
	font-size:12px;
	font-weight:bold;
	}
.center-box{
	-webkit-box-shadow: 0 8px 6px -5px #ddd;
    -moz-box-shadow: 0 8px 6px -5px #ddd;
    box-shadow: 0 8px 6px -5px #ddd;
    padding: 10px;
    border: 1px solid #d2d2d2;
    background-image: linear-gradient(to bottom, #FEFEFE 0%, #EFEFEF 100%);/* IE6-9 */
}
.center-box-sv{
    padding: 10px;
    border: 1px solid #d2d2d2;
}
.center-box-sv p{
	margin: 3px 0 3px !important;
	font-style:italic !important;
	font-size:11px !important;
}
.center-box-wp{
    -webkit-box-shadow: 0 8px 6px -5px #ddd;
    -moz-box-shadow: 0 8px 6px -5px #ddd;
    box-shadow: 0 8px 6px -5px #ddd;
    padding: 10px 2px;
    border: 1px solid #d2d2d2;
    background-image: linear-gradient(to bottom, #FEFEFE 0%, #EFEFEF 100%);/* IE6-9 */
	
	}	
/* = box style
-----------------------------------------------------------------------------*/
.supports{
	width:100%;
	position:relative;
}
.supports .sup-title{
	font: bold 11px/16px Tahoma;
	text-align: left;
	padding: 0 0 0 8px;
}
.supports ul{
	list-style: none;
	margin: 1.2em 0;
	padding: 0;
	border-top: solid 1px #e1e1e1;
	text-align: center;
}
.supports ul li{
	margin: 0 0 1.5em;
	padding: 1em 0 0;
	display: block;
	font: bold 12px/18px Tahoma;
}
.supports ul li span{
	display: block;
}
.supports ul li span.place{
	text-align: right;
	float: left;
	width: 45%;
}
.supports ul li span.icon{
	text-align: left;
	float: right;
	width: 50%;
}

/* =NEWS-list
-----------------------------------------------------------------------------*/
/*News style home*/
ul.news{
	margin:0;
	padding:0;
	list-style:none;
	}
ul.news li{
	background:url(images/dot-png.png) no-repeat 0 8px;
	display:block;
	margin-bottom:5px;
	padding-left:10px;
}

/* =CLIENTS scroll
-----------------------------------------------------------------------------*/
.clients{
	position:relative;
	width: 100%;
	padding: 0;
}
.clients ul {list-style: none; margin: 0; padding: 0; float: left; width: 104%;}
.clients li {float: left; margin: 0; padding: 0 9px 0 0; width: 118px;}

/* =style other
-----------------------------------------------------------------------------*/
.btn-all{
	background:url(images/btn-one.gif) repeat-x 0 0;
	height:25px;
	line-height:25px;
	color:#fff;
	cursor:pointer;
	text-align:center;
	border:0;
	margin:0 auto;
	padding:0 5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif;
	border-radius: 4px;	
}
.btn-all:hover{
	background:url(images/btn-one.gif) repeat-x 0 -25px;
	color:#fff;
}
.btn-all:focus{
	outline:none;
	border:0;
	box-shadow:none;
}
.btn-red{
	background:url(images/btn-one.gif) repeat-x 0 -25px;
	height:25px;
	line-height:25px;
	color:#fff;
	cursor:pointer;
	text-align:center;
	border:0;
	margin:0 auto;
	padding:0 5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif;
	border-radius: 4px;	
}
.item:hover .btn-all, .btn-red:hover{
	background:url(images/btn-one.gif) repeat-x 0 -25px;
	color:#eee;
}
.btn-red:focus{
	outline:none;
	border:0;
	position:relative;
	top:1px;
	box-shadow:none;
}
.col-alpha .btn-all{
	width:80px;
	padding:0;
}
.check-center input{
	width:50px;
	margin:10px 10px 10px 5px;
}
.check-center .btn-red{
	width:80px;
}
.check-center p{
	margin: 3px 0 10px;
}

.left-search input{	
	text-align:center;
	margin:10px 0 5px;
}
.left-search input.width-100{
	color:#aaa;
}	
.left-search  a{
	margin-top:5px;
	display:block;
}
/*Sidebar-left*/
#sidebar{margin-bottom:10px; position: relative;}
#nav-left {font: normal 12px/25px arial, sans-serif;}
#nav-left ul {display:none;}
#nav-left, #nav-left ul {padding:0; margin:0; list-style:none; width:197px; height:392px; overflow:hidden}
#nav-left ul {padding-left:20px;}
#nav-left li a {color:#fff; text-indent:0; text-decoration:none; display:block;}
#nav-left li {line-height:25px; cursor:pointer;}
#nav-left li a:hover {color:#fff;}
#nav-left li.has_ul { color:#fff; overflow:hidden; margin-top:1px; padding:9px 10px; font-weight:bold; font-size:13px;}
#nav-left li.has_ul img{margin-right:3px; vertical-align: top;}
#nav-left li.has_ul span{font-size:9px;font-weight:normal;margin-left:30px;display:block;line-height:13px;	}
#nav-left li.has_ul:hover {color:#fff;}
#nav-left li.clicked {color:#fff; }
#nav-left li ul{font-size:12px; margin-top:10px; padding-left:0; width:177px; height:94px;}
#nav-left li ul a{font: normal 13px/28px Tahoma; padding-left: 30px;}
#nav-left li.first{
	width:197px;
	background:url(images/bgr-tab-top.png) repeat-x 0 0;
	height:42px;
	line-height:42px;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
#nav-left li.red, #nav-left li.red.clicked{background:#e91921 url(images/bgr-red.png) repeat-x 0 0}
#nav-left li.red.clicked ul a{ border-top:1px solid #e10303; }
#nav-left li.orange, #nav-left li.orange.clicked{background:#f58321 url(images/bgr-orange.png) repeat-x 0 0}
#nav-left li.orange.clicked ul a{ border-top:1px solid #f3991f;}
#nav-left li.purple, #nav-left li.purple.clicked{background:#a6016c url(images/bgr-purple.png) repeat-x 0 0}
#nav-left li.purple.clicked ul a{ border-top:1px solid #bc0d85; }
#nav-left li.blue, #nav-left li.blue.clicked{background:#0189cf url(images/bgr-blue.png) repeat-x 0 0}
#nav-left li.blue.clicked ul a{ border-top:1px solid #009ff1; }
#nav-left li.green, #nav-left li.green.clicked{background:#019312 url(images/bgr-green.png) repeat-x 0 0}
#nav-left li.green.clicked ul a{ border-top:1px solid #009d09; }

/* =Footer
-----------------------------------------------------------------------------*/
#footer{
	border-top:4px solid #5e5e5e;
	margin-top:3px;
	padding:1.5em 0;
	}
#footer .wraprer{
	padding:0;
	}
#footer .share-icon{
	float:left;
	}
.share-icon h5 {font: norma 14px/20px Tahoma; color: #5e5e5e; margin: 0; padding: 0;}
.share{
	background-image:url(images/share.png);
	width:25px;
	height:27px;
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	background-position:0 0;
	background-repeat:no-repeat;
	float:left;
	margin-right:5px;
	margin-top:1em;
	}
.share.google{
	background-position:0 0;
	}
.share.twiter{
	background-position:-30px 0;
	}
.share.facebook{
	background-position:-60px 0;
	}
.share.linkin{
	background-position:-92px 0;
	}
.share.printer{
	background-position:-122px 0;
	}
.share.google:hover{
	background-position:0 -27px;
	}
.share.twiter:hover{
	background-position:-30px -27px;
	}
.share.facebook:hover{
	background-position:-60px -27px;
	}
.share.linkin:hover{
	background-position:-92px -27px;
	}
.share.printer:hover{
	background-position:-122px -27px;
	}
#footer .menu-foot{
	border-bottom:1px solid #d2d2d2;
	margin-bottom:10px;
	padding-bottom:5px;
	overflow:hidden;
	float:right;	
	}
#footer .menu-foot a{
	float:left;
	display:inline;
	font-size:13px;
	}
#footer .menu-foot span{ 
    font-size:13px;
    float:left;
    padding:0 10px;
    color:#848484;
}
.copy{
	font-size:13px;
	color:#848484;
	float:right;
}
/* = Rowspan
-----------------------------------------------------------------------------*/
#rowspan{
	display:block;
	overflow:hidden;
	position: relative;
}
#rowspan .itemInfrastruc, #rowspan .itemInfrastruced {
    background: #d3d3d3;
    clear: both;
    color: #49494b;
    cursor: pointer;
    margin-bottom: 4px;
    padding: 8px 15px 8px 8px;
}
.itemInfrastruc span, .itemInfrastruced span {
    background: url(images/ArNmal.png) no-repeat scroll right 0 rgba(0, 0, 0, 0);
    display: block;
    font-size: 13px;
    font-weight: bold;
}
.itemInfrastruced span {
    background: url(images/ArrDrop.png) no-repeat scroll right 4px rgba(0, 0, 0, 0);
}
.ctnerInFra {
    clear: both;
    display: none;
    padding: 10px 0;
}
/* =Page cart
-----------------------------------------------------------------------------*/
.step-img{
	background:url(images/step-cart.gif) no-repeat 0 0;
	height:28px;
	width:100%;
	display:block;
	overflow:hidden;
	text-indent:-9999px;
}
.step1{
	background:url(images/step-cart.gif) no-repeat 0 0;
}
#page-cart h3{
	color:#626262;
}
#page-cart h3 span{
	display:block;
	color:#fff;
	background:#de0101;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width:24px;
	height:24px;
	float:left;
	text-align:center;
	line-height:24px;
	margin-right:10px;
}
.box-cart{
	padding:1.5em;
	border:1px solid #dfdede;
	margin-bottom:35px;
	padding-top:25px;
	overflow:hidden;
}
.box-cart .color-one{
	color:#de0101;
	display:block;
	margin-bottom:5px;
}
.width-380{
	padding:0 50px;
	width:280px;
	border-right:1px solid #ddd;
	float:left;
	display:inline;
}
.address{
	padding:0 50px;
}
.address .ip1{
	position:relative;
	top:3px;
}
.address p{
	clear:both;
	position:relative;
	padding-left:130px;
	margin:10px 0;
}
.address p label{
	position:absolute;
	left:0;
	float:left;
	top:0;
	width:120px;
}
.address select, .address input.ip2{ width:200px;}
.address input.ip2{ width:195px;}

/* =Product comment style
-----------------------------------------------------------------------------*/
.comment-count {
    position: relative;
    background: #f0efee;
    font: normal 14px/30px Tahoma;
    color: #48484a;
    height: 30px;
    padding: 0 2em;
}

.comment-form{
    position: relative;
    padding: 2.5em 2em;
}
.comment-form .logo-small{
   float: left;
   border: solid 1px #ddd;
}
.comment-form .area-comment{
   float: left;
   margin-left: 1%;
}
.comment-form .area-comment img{
    width: 60px;
}
.comment-form .area-comment textarea{
   width: 100%;
   height: 60px;
   padding: 0;
}
.comment-form .post-comment{
   text-align: right;
   position: relative;
   margin: .8em 0 0;
}
.comment-form .button-post-comment {
    background: url(images/icon/icon-button-post.png) no-repeat scroll 0 0;
    display: inline-block;
    height: 32px;
    width: 112px;
    color: #fff;
    text-align: center;
    font: bold 12px/32px Tahoma;
}

.comment-list{
    position: relative;
    padding: 0 2em 2em;
}
.comment-list .item-lst{
    padding: 0 0 15px;
    margin: 0 0 15px;
    border-bottom: solid 1px #d4d4d4;
}
.comment-list .item-lst.padd{
    padding: 0 0 15px 2.2em;
}
.comment-list .avatar{
   float: left;
   border: solid 1px #ddd;
}
.comment-form .avatar img{
    width: 60px;
}
.comment-list .comment-detail{
   float: left;
   margin-left: 3%;
   width: 87%;
}
.comment-list .comment-detail span.user-name{
   color: #48484a;
   font: bold 13px/20px Tahoma;
}
.comment-list .comment-detail span.post-date{
   color: #48484a;
   font: normal 13px/20px Tahoma;
   padding-left: 2%;
}

.comment-list .comment-detail p{
   color: #48484a;
   font: normal 13px/20px Tahoma;
   margin: 0 0 .2em;
}
.comment-list .comment-detail a.reply{
   color: #989898;
   font: normal 13px/20px Tahoma;
}
.comment-list a.view-all-comment{
   color: #ed1c24;
   font: bold 12px/20px Tahoma;
   display: inline-block;
   margin: .5em 0 0;
}
#search-order-table {
	border:none;
}
#search-order-table td{
	border:none;
}
#search-order-table textarea {
	width:420px;
	height:40px;

}
#info-order-table {
	border:#636363 solid 1px;
}
#info-order-table td, #info-order-table th {
	padding:0;
	text-indent:5px;
	border:#636363 solid 1px;
}
#info-order-table th {
	background-color:#FF5353;
	color:#fff;
}
#frm-freight-online {
	margin:10px}
#frm-freight-online table{
	margin:0}
#frm-freight-online td{
	padding:0;
	height:40px;
	text-indent:5px;
	border:none;

}
#frm-freight-online input[type="text"] {
	width:200px;

}
#frm-freight-online input[type="radio"], #frm-freight-online input[type="checkbox"]{
	position:relative;
	top:1px;

}
#frm-freight-online .inputsize{
	width:43px !important; 

}
#frm-freight-online .input1{
	width:150px !important; 

}
#frm-freight-online #input1{
	width:97% !important;}