/* =Navigator style
-----------------------------------------------------------------------------*/
#nav-multi {
   list-style: none;
   margin: 0;
   padding: 0;
}
#nav-multi > li {
    background: url(images/red-menu.png) repeat-x scroll 0 0;
    border-right: 1px solid #FFFFFF;
    display: inline;
    float: left;
    height: 19px;
    line-height: 19px;
    padding: 8px 22px;
    position: relative;
}

#nav-multi li a {
    color: #fff;
    font-weight: bold;
}

#nav-multi ul {
    background: #616262;
    padding: 0px;
    width: 250px;
    z-index: 199;
}

#nav-multi li:hover {
    background: #616262;
}
#nav-multi > li > a {
	display:block;
	float:left;
}
#nav-multi li a {
	display:inline;}
#nav-multi ul li {
    border-right: none;
    border-bottom: 1px solid #DDDDDD;
    width: 250px;
    height: 28px;
}
#nav-multi ul li a {
    border-right: none;
    color: #fff;
    font: normal 12px/34px Tahoma;
    padding: 0 0 0 20px;
}
#nav-multi ul li:hover {
    background: #8e8e8e;
}
#nav-multi ul li:last-child {
    border-bottom: none;
}
#nav-multi ul li:last-child a {
    border-bottom: none;
}
/* Sub menus */
#nav-multi ul
{
    display: none;
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 35px;
    padding: 0;
    margin: 0;
    list-style: none;
	z-index:10000;
}

/* Third-level menus */
#nav-multi ul ul
{
    top: 0px;
    left: 250px;
    display: none;
    visibility: hidden;
    border: 1px solid #DDDDDD;
}
/* Fourth-level menus */
#nav-multi ul ul ul
{
    top: 0px;
    left: 170px;
    display: none;
    visibility: hidden;
    border: 1px solid #DDDDDD;
}

#nav-multi ul li
{
    display: block;
    visibility: visible;
}
#nav-multi li:hover > ul
{
    display: block;
    visibility: visible;
}
