/* =Popup Over style
-----------------------------------------------------------------------------*/
#mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99998;
    background-color: #4D4D4D;
    display: none;
}
.boxes .window {
    position: absolute;
    left: 0;
    top: 0;
    width: 595px;
    height: auto;
    display: none;
    z-index: 99999;
    padding: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #333333;
    -moz-box-shadow: 4px 4px 30px #130507;
    -webkit-box-shadow: 4px 4px 30px #130507;
    box-shadow: 4px 4px 30px #130507;
    -moz-transition: top 800ms;
    -o-transition: top 800ms;
    -webkit-transition: top 800ms;
    transition: top 800ms;
}
.boxes #login-popup, .boxes #registration-popup, .boxes #term-popup, .boxes #order-popup, .boxes #shipping-popup, .boxes #forgetpass-popup{
    width: 595px;
    height: auto;
    padding: 0px;
    background-color: #FFFFFF;
}
/* =popup detail style
-----------------------------------------------------------------------------*/
#popup, .popup {
    width: 595px;
	display:block;
    background: #FFF;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7); 
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); 
    -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
}

#popup-header, .popup-header { 
	position: relative;
	height: 28px;
	background: #df0101;
}

#popup-header  h2, .popup-header  h2 { color: #fff; text-align:left; font: bold 14px/28px Tahoma; margin: 0; padding: 0 0 0 25px; }
.content-popup { margin:0 25px; position: relative;}      
.closePopup, .closePopup-term { position: absolute; top: 6px; right: 12px;  width: 16px;}

.col-1 {float: left; width: 245px;}
.col-2 {float: left; width: 245px;}
.col-3 {float: left; width: 265px;}
.col-4 {float: left; margin: 0 0 0 2em;}

.strikenWrap {
    float: left;
    margin: 0 30px 0 0;
    width: 25px;
}
.strikenDiv {
    margin: 0;
    position: relative;
}

.lineThrough {
    border-right: 1px solid #E7E7E7;
    position: relative;
}
.strikenText {
    background: none repeat scroll 0 0 #fff;
    font-size: 11px;
    font-weight: bold;
    height: 22px;
    left: 10px;
    position: absolute;
    text-align: center;
    top: 100px;
    width: 28px;
    color: #5e5e5e;
}
/* =Signup style
-----------------------------------------------------------------------------*/
.p-heading { color: #5e5e5e; text-align:left; font: bold 11px/16px Tahoma; margin: 10px 0 20px; padding: 0; }
.p-list { list-style: none; margin: 0; padding: 0; }
.p-list li { margin: 0; padding: 0 0 6px; }

.p-list-2 { list-style: none; margin: 0 0 12px  ; padding: 0; }
.p-list-2 li { margin: 0; padding: 0 0 5px; }
input.p-input {
    width: 225px;
    height: 30px;
    background: none repeat scroll 0 0 #f7f8fa;
    border: 1px solid #aeafb0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #5e5e5e;
    font: normal 13px/26px Tahoma;
    padding: 0 10px;
}
input.p-check {
    margin: 0;
}
.p-link {padding: 0 0 20px; margin: 0; font: normal 11px/15px Tahoma;}
.p-link a{ color: #dd0101; font: normal 11px/15px Tahoma;}
.p-terms { float: left; width: 166px; color: #5e5e5e; text-align:left; font: bold 11px/16px Tahoma; margin: 0 0 10px; padding: 0px; }
.p-terms span {padding: 0 0 0 5px; font: normal 11px/15px Tahoma; position: relative; bottom: 3px;}
.p-button { float: right; color: #fff; font: bold 11px/28px Tahoma; height: 28px; background: #da0101; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border: none;}
.p-button-left { float: left; color: #fff; font: bold 11px/28px Tahoma; height: 28px; background: #da0101; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border: none;}

.message-pop {padding: 2em 0; margin: 0; font: normal 11px/16px Tahoma; text-align: justify;}


/* = Shipping online page style
-----------------------------------------------------------------------------*/
.popup-shipping {width: 690px;}
.content-popup-shipping { margin:0; position: relative;}      

.shippings{
  overflow: hidden;
  position: relative;
  padding: 1.8em 0;
}
.shippings table{
    margin: 0 1.8em;
}
.shippings th, .shippings td { position: relative; border: none; color: #48484a; font: bold 12px/18px Tahoma; padding: 0.3em}
.shippings td.td-label { width: 150px;}

.shippings input {
    border: 1px solid #cccccc;
    color: #333333;
    font: normal 13px/18px Tahoma;
    height: 26px;
    padding: 0 10px;
    width: 226px;
}
.shippings select {
     border: 1px solid #cccccc;
    color: #333333;
    font: normal 13px/18px Tahoma;
    height: 26px;
    padding: 0 0 0 10px;
    width: 267px;
}
.shippings select.short {
    width: 81px;
}
.shippings  input[type="radio"], .profiles input[type="checkbox"] {
    width: auto;
    height: 22px;
    padding: 0;
}
.shippings span.label-sex {
    position: relative;
    top: -8px;
    font-weight: normal;
}
.shippings input.button-submit {
    background: transparent url(images/icon/icon-button-submit.png) no-repeat scroll 0 0;
    height: 37px;
    width: 110px;
    border: none;
    padding: 0;
    color: #fff;
    font: bold 13px/36px Tahoma;
    text-align: center;
    text-transform: uppercase;
}
