/* =Product style
-----------------------------------------------------------------------------*/
.row-product {position: relative; top: -10px; border-top: solid 1px #dcdcdc; border-bottom: solid 1px #dcdcdc; padding: 8px 0 5px;}
.product-list{
	width:100%;
	position: relative;
	margin-bottom:1.5em;
}
.product-list ul{
	margin:0;
	padding:0;
	width:768px;
	list-style:none;
}
.product-list ul li{
	float:left;
	display:inline;
	width:182px !important;
	margin:0 9px 15px 0 !important;
}
.product-list .center-box{
	padding:0;
}

.item{
	position:relative;
}
.item a.img img{
	display:block;
}
.item a.name{
	display:block;
	margin:7px 0;
	font-weight:bold;
	text-align:center;
}
.item .decription{
	padding:0 10px 0;
	overflow:hidden;
	height:30px;
	line-height:15px;
}
.item .btn-all{
	margin:10px auto;
	display:block;
	width:70px;
}
.item:hover a.name{
	color:#de0101;
}

/* =Product pager list
-----------------------------------------------------------------------------*/
.product-pager {
    width:100%;
    text-align: center;
	position: relative;
	padding: 0 0 1em;
	margin: 0 0 1.4em;
	border-bottom: solid 1px #dcdcdc;
}
.product-pager ul{
	margin:0;
	padding:0;
	list-style:none;
}
.product-pager ul li{
	display:inline;
	margin:0;
	padding: 0 1px;
}
.product-pager ul li a.active{
	color:#de0101;
}

/* =Product detail
-----------------------------------------------------------------------------*/
#product-detail {position: relative; margin: 0 0 1.4em; width: 100%;}
.col-gallery {float: left; width: 335px; margin: 0 22px 0 0;}
.col-information {float: right; text-align: left; width: 400px;}

.big-photo {position: relative; background: #d3d3d3; padding: 1px;}
.big-photo .click-view {text-align: center;}
.big-photo .click-view a {font: normal 12px/24px Tahoma; color: #606060;}
.big-photo .click-view a img {position: relative; top: 6px; padding: 0 8px 0 0;}

ul.thumb-list {position: relative; list-style: none; margin: 9px 0 0; padding: 0; width: 102%;}
ul.thumb-list li {position: relative; margin: 0 5px 0 0; padding: 0; float: left; border: solid 1px #d3d3d3;}

ul.thumb-list li span.icon-current {display: none; position: absolute; left: 42%; top:-12%;}

ul.thumb-list li:hover, ul.thumb-list li.current {border: solid 1px #dd0101; background: transparent url(images/icon/icon-thumb-current.png) no-repeat scroll 0 0;}
ul.thumb-list li:hover span.icon-current , ul.thumb-list li.current span.icon-current {display: block; position: absolute; left: 42%; top:-12%;}

h1.product-title {position: relative; margin: 0 0 .3em; padding: 0; font: bold 22px/30px Tahoma;}

div.block {position: relative; margin: 0 0 .7em;}
div.first {position: relative;}
div.first img{vertical-align: middle; padding: 0 8px 0 0;}
div.first span{color: #444; font: normal 13px/18px Tahoma;}
div.first b{font: bold 15px/18px Tahoma;}

div.second {position: relative; border-top: solid 1px #d3d3d3; padding: 10px 0 0;}
div.second ul {position: relative; padding: 0; margin: 0; list-style: none;}
div.second ul li {position: relative; padding: 0 0 6px; margin: 0; color: #444; font: normal 14px/20px Tahoma;}
div.second ul li span.item-text{float: left; width: 70px; text-align: left;}
div.second ul li span.item-value{float: left; text-align: left; }
div.second ul li span.item-value-2{float: left; text-align: left;  color: #de0101; font: bold 20px/20px Tahoma;}
div.second ul li input#price-2:focus{
    outline: 0;
}

div.third {position: relative; border-top: solid 1px #d3d3d3; padding: 1.2em 1em 0; background: #f3f3f5;}
div.third ul {position: relative; padding: 0; margin: 0; list-style: none;}
div.third ul li {position: relative; padding: 0 0 9px; margin: 0; color: #6d6d6d; font: normal 142x/18px Tahoma;}
div.third ul li span.item-text{float: left; width: 90px; text-align: left;}
div.third ul li span.item-value{float: left; text-align: left; }
div.third ul li span.item-value-2{float: left; text-align: left;  color: #de0101; font: bold 20px/20px Tahoma;}
div.third ul li .color{ display: block; width: 30px; height: 30px; border: solid 1px #bfbfcc;}
div.third ul li .color{ border: solid 1px #fff; background: #7f7f7f;}
div.third ul li .size{ display: inline; width: auto; height: 22px; background: #fff; color: #222; border: solid 1px #bfbfcc; text-align: center; font: normal 12px/22px Tahoma; padding: 0 .8em; }
div.third ul li .item-checked{ border: solid 1px #FF0000 !important; }
div.third ul li #totalPrice{ font-weight:bold; color:#000000}
.block-button {
   text-align: center;
   padding: 0 0 10px;
}
.button-buy{
    background: url(images/icon/icon-button-cart.png) no-repeat scroll -10px -11px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 34px;
    margin: 0 5px;
    width: 123px;
}
.button-fav {
    background: url(images/icon/icon-button-cart.png) no-repeat scroll -143px -11px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 34px;
    width: 143px;
}
.button-add-fav {
   text-align: center;
   padding: 0 0 10px;
}
.product-shop ul li{

	float:left;
}
.product-shop ul li a{
	display:block;
	width:30px;
	height:30px;
	border:solid 1px #FFFFFF;
	margin-right:10px;

}
.product-shop ul li a.selected {
	border:solid 1px #FFFF00}
.product-shop select{
	display:none;}
.col-gallery #wrap {
	border:solid 1px #D3D3D3;
	height:310px;}
.more-views {
	overflow:hidden;
	margin-top:10px;
	width:340px;}
.more-views ul{
	margin:0 !important;
	padding:0 !important;}
.more-views ul li{
	list-style:none;
	float:left;
	margin-right:5px;
	border:solid 1px #D3D3D3;
}
.more-views ul li img{
	width:61px;
	height:61px;}
.click-view {
	background-color:#D3D3D3;
	text-align:center;
	height:30px;
	line-height:30px;}
.click-view a img {
  padding: 0 8px 0 0;
  position: relative;
  top: 10px;
}
