/* =Tab PRODUCT style
-----------------------------------------------------------------------------*/
#tabProducts{
  overflow: hidden;
  width: 100%;
  position: relative;
}

#tabs{
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #6d6e6f;
}

#tabs li{
  float: left;
  margin: 0;
  border-right: solid 1px #fff;
}

#tabs a{
  position: relative;
  background: transparent;
  padding: 0 20px;
  float: left;
  text-decoration: none;
  color: #fff;
  font: bold 14px/32px Tahoma;
}

#tabs a:hover,
#tabs a:hover::after,
#tabs a:focus,
#tabs a:focus::after{
  background: #d70101;
}

#tabs a:focus{
  outline: 0;
}

#tabs #current a,
#tabs #current a::after{
  background: #d70101;
  z-index: 3;
}

#tab-content {
    background: #transparent;
    color: #444444;
    padding: 0;
    height: auto;
    position: relative;
    z-index: 2;	
    border-radius: 0 0 5px 5px;
    border: solid 1px #d4d4d4;
    margin: 0 0 1.4em;
}

#tabDescription {padding: 1.2em 1.4em;}


/* =Tab ACCOUNT style
-----------------------------------------------------------------------------*/
#tabAccount{
  overflow: hidden;
  width: 100%;
  position: relative;
}

#tabs2{
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #dfdfdf;
}

#tabs2 li{
  float: left;
  margin: 0;
  border-right: solid 1px #aeaeae;
}

#tabs2 a{
  position: relative;
  background: transparent;
  padding: 0 20px;
  float: left;
  text-decoration: none;
  color: #48484a;
  font: bold 13px/32px Tahoma;
}

#tabs2 a:hover,
#tabs2 a:hover::after,
#tabs2 a:focus,
#tabs2 a:focus::after{
  background: #656666;
  color: #fff;
}

#tabs2 a:focus{
  outline: 0;
}

#tabs2 #current a,
#tabs2 #current a::after{
  background: #656666;
  color: #fff;
  z-index: 3;
}

#tabs2-content {
    background: #transparent;
    color: #48484a;
    padding: 0;
    height: auto;
    position: relative;
    z-index: 2;	
    border: solid 1px #d4d4d4;
    margin: 0 0 1.4em;
}
