﻿@model ProductDetailsModel.AddToCartModel
@using Nop.Web.Models.Catalog;
@using Nop.Core.Domain.Orders
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework.Themes;
@{
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingDesktopTheme;
    var imageFolderPath = "~/Themes/" + currentThemeName + "/Content/";    
}
@if (Model.UpdatedShoppingCartItemId > 0)
{
    @Html.HiddenFor(x => x.UpdatedShoppingCartItemId)
}

@if (Model.CustomerEntersPrice)
{
    <li class="clearfix"><span class="item-text">Nhập giá</span><span class="item-value">
        @Html.TextBox("CustomerEnteredPrice", Convert.ToInt32(Math.Ceiling(Model.CustomerEnteredPrice)), new { @class = "enter-price-input" })
    </span>
    </li>
}

@if (!Model.DisableBuyButton || !Model.DisableWishlistButton)
{
    <li class="clearfix"><span class="item-text">Số lượng</span><span class="item-value">
        @if (Model.AllowedQuantities.Count > 0)
        {
            @Html.DropDownListFor(model => model.EnteredQuantity, Model.AllowedQuantities, new { @class = "qty-dropdown" })
        }
        else
        {
            @Html.TextBoxFor(model => model.EnteredQuantity, new { @class = "qty-input" })
                
            //when a customer clicks 'Enter' button we submit the "add to cart" button (if visible)
            if (!Model.DisableBuyButton)
            {
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#@Html.FieldIdFor(model => model.EnteredQuantity)").keydown(function (event) {
                        if (event.keyCode == 13) {
                            $("#add-to-cart-button-@Model.ProductId").click();
                            return false;
                        }
                    });
                });
            </script>
            }
        }
    </span>
    </li>    
    <li class="clearfix"><span class="item-text">Tổng giá</span><span class="item-value">Phụ
                                    thuộc vào đặc tính sản phẩm bạn chọn</span></li>   

}
