﻿@model AddProductReviewModel
@using Nop.Web.Models.Catalog;
@{
    //Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    //title
    //Html.AddTitleParts(Model.ProductName);
    //Html.AddTitleParts(T("PageTitle.ProductReviews").Text);
}

@Html.Hidden("Title", "Feedback Product")

    <label style="float: left;">Phản hồi</label>
    <div class="area-comment">
        @Html.TextAreaFor(model => model.ReviewText, Model.CanCurrentCustomerLeaveReview ? (object)(new { @class = "review-text" }) : (object)(new { @class = "review-text", disabled = "disabled" }))
    </div>
    <div class="clear">
    </div>
    <div class="post-comment">
        Đánh giá:
        <ul>
            <li class="first">Xấu</li>
            <li>
                @Html.RadioButtonFor(model => model.Rating, "1", new { id = "addproductrating_1" })
                @Html.RadioButtonFor(model => model.Rating, "2", new { id = "addproductrating_2" })
                @Html.RadioButtonFor(model => model.Rating, "3", new { id = "addproductrating_3" })
                @Html.RadioButtonFor(model => model.Rating, "4", new { id = "addproductrating_4" })
                @Html.RadioButtonFor(model => model.Rating, "5", new { id = "addproductrating_5" })
            </li>
            <li class="last">Tốt</li>
        </ul>
        <input type="submit" name="add-review" class="button-post-comment" value="Đăng nhận xét" />
    </div>