﻿@model ProductOverviewModel
@using System
@using Nop.Core
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Catalog;
@{
    //prepare "Add to cart" AJAX link
    string addtocartlink = "";
    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
    var quantity = 1;
    if (Model.ProductPrice.ForceRedirectionAfterAddingToCart)
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, forceredirection = Model.ProductPrice.ForceRedirectionAfterAddingToCart });
    }
    else
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, });
    }

    String urlProduct = Url.RouteUrl("Product", new { SeName = Model.SeName });
}

<div class="center-box" data-productid="@Model.Id">
    <a href="@urlProduct" title="@Model.DefaultPictureModel.Title" class="img" >
        <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.FullSizeImageUrl" title="@Model.DefaultPictureModel.Title" style=" max-width:180px;height:131px;margin:auto"/>
    </a><a href="@urlProduct" class="name" title="@Model.Name">@Model.Name</a>
    <div class="decription" title="@Model.ShortDescription">
        @Model.ShortDescription
    </div>
    <a href="@urlProduct" class="btn-all">Chi tiết</a>
</div>
