﻿@model ProductDetailsModel
@using Nop.Core.Domain.Media
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@using Nop.Web.Framework.Themes
@{
    //Html.AddScriptParts("~/Scripts/jquery.magnific-popup.js");
    //Html.AddCssFileParts("~/Content/magnific-popup/magnific-popup.css");

    int productPerRow = EngineContext.Current.Resolve<MediaSettings>().ProductThumbPerRowOnProductDetailsPage;
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingDesktopTheme;
    var imageFolderPath = "~/Themes/" + currentThemeName + "/Content/";

    Html.AddCssFileParts(imageFolderPath + "Assets/css/jQuery.fancybox.css");
    Html.AddScriptParts(imageFolderPath + "Assets/js/jquery.elevatezoom.min.js");
    Html.AddScriptParts(imageFolderPath + "Assets/js/jquery.fancybox.pack.js");
}

<div class="col-gallery">
    <div class="big-photo">
        <div style="height: 301px; width: 330px; display: table-cell; vertical-align: middle; text-align: center;">
            <a href="@Model.DefaultPictureModel.FullSizeImageUrl" title="@Model.Name" id="main-product-img-lightbox-anchor-@Model.Id">
                <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" itemprop="image" id="main-product-img-@Model.Id" class="defaul-img"
                        data-zoom-image="@Model.DefaultPictureModel.FullSizeImageUrl"
                        />
            </a>
        </div>

        <div class="click-view">
            <a href="#">
                <img src="@Url.Content(imageFolderPath)Assets/css/images/icon/icon-click-view.png" alt="#" align="absmiddle" />
                Di chuyển lên để phóng to ảnh</a>
        </div>
    </div>
    <script type="text/javascript">
        function getOriginalWidthOfImg(url) {
            var t = new Image();
            t.src = url;
            return t.width;
        }

        var isFirst = true;
        $(document).ready(function () {
            $("#main-product-img-@Model.Id").elevateZoom({ zoomWindowPosition: "view-productImage", zoomWindowHeight: 414, zoomWindowWidth: 400, borderSize: 1, easing: true });

            var fullUrlDefault = $('#main-product-img-lightbox-anchor-@Model.Id').attr('href');

            var t = new Image();
            t.src = fullUrlDefault;

            $(t).load(
                function () {
                    var ez = $('#main-product-img-@Model.Id').data('elevateZoom');
                    var widthDefault = this.width;
                    if (widthDefault > 400) {
                        ez.changeState('enable');
                    } else {
                        ez.changeState('disable');
                    }
                }
                );

            $('#main-product-img-lightbox-anchor-@Model.Id').click(
                function () {
                    return false;
                }
            );


            $('.thumb-popup-link').click(
            function () {

                var fullUrl = jQuery(this).attr('href');
                var imgUrl = jQuery(this).find("img").attr('src');

                var tThumb = new Image();
                tThumb.src = fullUrl;
                tThumb.alt = imgUrl;

                $(tThumb).load(
                  function () {
                      $('#main-product-img-lightbox-anchor-@Model.Id').prop("href", this.src);
                      var ez = $('#main-product-img-@Model.Id').data('elevateZoom');

                      var widthDefault = this.width;

                      if (widthDefault > 400) {
                          ez.changeState('enable');
                          ez.swaptheimage(imgUrl, this.src);
                      } else {

                          $('#main-product-img-@Model.Id').prop("src", this.alt);
                          $('#main-product-img-@Model.Id').prop("data-zoom-image", this.src);

                          ez.changeState('disable');
                      }
                  }
                );


@*                
                var ez = $('#main-product-img-@Model.Id').data('elevateZoom');

                var width = getOriginalWidthOfImg(fullUrl);

                if (width > 400) {
                    ez.changeState('enable');
                    ez.swaptheimage(imgUrl, fullUrl);
                } else {
                    $('#main-product-img-@Model.Id').prop("src", imgUrl);
                    $('#main-product-img-@Model.Id').prop("data-zoom-image", fullUrl);
                    ez.changeState('disable');
                }*@

                return false;
            });
        });


    </script>
    @if (Model.PictureModels.Count > 1)
    {
        
        <div style="overflow: hidden;">
            <ul class="thumb-list">
                @for (int i = 0; i < Model.PictureModels.Count; i++)
                {
                    var picture = Model.PictureModels[i];
                    <li>
                        <a class="thumb-popup-link" href="@picture.FullSizeImageUrl" title="@Model.Name" id="thumb-popup-product-link-@picture.PictureId">
                            <div>
                                <img src="@picture.ImageUrl" alt="@picture.AlternateText" title="@picture.Title" />
                            </div>                            
                        </a></li>
                }
            </ul>
        </div>
      
    }
    <div style="padding-top: 10px;">
    </div>
    @Html.Action("ShareButton", "Catalog")
</div>
