﻿@model ProductDetailsModel
@using Nop.Core.Domain.Media
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@using Nop.Web.Framework.Themes;
@using Nop.Web.Models.Catalog
@{
    //Html.AddScriptParts("~/Scripts/jquery.magnific-popup.js");
    //Html.AddCssFileParts("~/Content/magnific-popup/magnific-popup.css");

    int productPerRow = EngineContext.Current.Resolve<MediaSettings>().ProductThumbPerRowOnProductDetailsPage;
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingDesktopTheme;
    var imageFolderPath = "~/Themes/" + currentThemeName + "/Content/";
    ProductDetailsModel.ProductVariantAttributeModel attributeColor = null;
    ProductDetailsModel.ProductVariantAttributeModel attributeSize = null;
    foreach (var a in Model.ProductVariantAttributes)
    {
        if (a.AttributeControlType == Nop.Core.Domain.Catalog.AttributeControlType.ColorSquares && a.Name == "Color")
        {
            attributeColor = a;
        }

        if (a.AttributeControlType == Nop.Core.Domain.Catalog.AttributeControlType.DropdownList && a.Name == "Size")
        {
            attributeSize = a;
        }
    }
}



<div class="col-information">
    <div id="view-productImage" style="background-color: white; opacity: 1.0;">
    </div>
    <h1 class="product-title">
        @Model.Name</h1>
    <div class="block first">
        <span>
            @Html.Action("ProductReviewOverview", "Catalog", new { productId = Model.Id }) </span>
    </div>
    <div class="block second">
        <ul>
            @if (!String.IsNullOrWhiteSpace(Model.ProductPrice.OldPrice))
            {
                <li class="clearfix"><span class="item-text">Giá bán</span><span class="item-value" id="lblProductOldPrice">@Model.ProductPrice.OldPrice</span> </li>
                <li class="clearfix"><span class="item-text">Giảm giá</span><span class="item-value-2" id="lblProductPrice">@Model.ProductPrice.Price</span></li>
            }
            else
            {
                <li class="clearfix"><span class="item-text">Giá bán</span><span class="item-value" id="lblProductPrice">@Model.ProductPrice.Price</span> </li>
            }

        </ul>
    </div>
    <div class="block third">
        <ul>
            <li class="clearfix"><span class="item-text">Shipping</span>
                @if (Model.IsFreeShipping)
            {
                    <span class="item-value"><b>Miễn
                phí shipping</b>
                        <br />
                        @if (!string.IsNullOrWhiteSpace(Model.DeliveryDate))
                    {
                            @Html.Raw("Vận chuyển: " + Model.DeliveryDate);
                    }
                    </span>
                
            }
            else
            {
                    <span class="item-value"><b>Có
                phí shipping</b>
                        <br />
                        @if (!string.IsNullOrWhiteSpace(Model.DeliveryDate))
                    {
                            @Html.Raw("Vận chuyển: " + Model.DeliveryDate);
                    }
                    </span>
            }
            </li>

            @{
                var dataDictAttributes = new ViewDataDictionary();
                dataDictAttributes.TemplateInfo.HtmlFieldPrefix = string.Format("attributes_{0}", Model.Id);
                if (!String.IsNullOrWhiteSpace(Model.ProductPrice.OldPrice))
                {
                    dataDictAttributes["OldPrice"] = Model.ProductPrice.OldPriceValue;
                }
                else
                {
                    dataDictAttributes["OldPrice"] = 0M;
                }

                dataDictAttributes["Price"] = Model.ProductPrice.PriceValue;
                
                @Html.Partial("_ProductAttributes", Model.ProductVariantAttributes, dataDictAttributes)                  
            }

            <!--gift card-->
            @{
                var dataDictGiftCard = new ViewDataDictionary();
                dataDictGiftCard.TemplateInfo.HtmlFieldPrefix = string.Format("giftcard_{0}", Model.Id);
                @Html.Partial("_GiftCardInfo", Model.GiftCard, dataDictGiftCard)
            }
            <!--price & add to cart-->
            @{
                var dataDictAddToCart = new ViewDataDictionary();
                dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
                @Html.Partial("_AddToCart", Model.AddToCart, dataDictAddToCart)                    
            }

        </ul>

        @if (!Model.AddToCart.DisableBuyButton)
        {
            var addToCartText = "";
            if (Model.AddToCart.UpdatedShoppingCartItemId > 0)
            {
                addToCartText = T("ShoppingCart.AddToCart.Update").Text;
            }
            else
            {
                addToCartText = Model.AddToCart.AvailableForPreOrder ? T("ShoppingCart.PreOrder").Text : T("ShoppingCart.AddToCart").Text;
            }
            <div class="block-button">
                <a href="javascript:void(0)" id="add-to-cart-button-@Model.AddToCart.ProductId" class="button-buy" data-productid="@Model.AddToCart.ProductId" onclick="AjaxCart.addproducttocart_details('@Url.RouteUrl("AddProductToCart-Details", new { productId = Model.AddToCart.ProductId, shoppingCartTypeId = (int)Nop.Core.Domain.Orders.ShoppingCartType.ShoppingCart, forceredirection = true })    ', '#product-details-form');return false;" ></a>
                <a href="javascript:void(0)" id="add-to-cart-button-@Model.AddToCart.ProductId" class="button-fav" data-productid="@Model.AddToCart.ProductId" onclick="AjaxCart.addproducttocart_details('@Url.RouteUrl("AddProductToCart-Details", new { productId = Model.AddToCart.ProductId, shoppingCartTypeId = (int)Nop.Core.Domain.Orders.ShoppingCartType.ShoppingCart, forceredirection = false })    ', '#product-details-form');return false;" ></a>
            </div>
        }

        @if (!Model.AddToCart.DisableWishlistButton && Model.AddToCart.UpdatedShoppingCartItemId == 0)
        {
            <div class="button-add-fav">
                <a href="javascript:void(0)" id="add-to-wishlist-button-@Model.AddToCart.ProductId" data-productid="@Model.AddToCart.ProductId" onclick="AjaxCart.addproducttocart_details('@Url.RouteUrl("AddProductToCart-Details", new { productId = Model.AddToCart.ProductId, shoppingCartTypeId = (int)Nop.Core.Domain.Orders.ShoppingCartType.Wishlist, forceredirection = false })', '#product-details-form');return false;">
                    <img src="@Url.Content(imageFolderPath)Assets/css/images/icon/icon-fav.png" alt="#" />&nbsp; Cho vào sản phẩm
                yêu thích</a>
            </div>        
        }    
@*@Html.Action("ShareButton", "Catalog")
         <div style="padding-bottom:5px;">
                    </div>   *@
    </div>
</div>
