﻿@model CategoryModel
@using Nop.Web.Framework.UI.Paging;
@using Nop.Core.Domain.Common;
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@using Nop.Web.Extensions;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    var canonicalUrlsEnabled = EngineContext.Current.Resolve<SeoSettings>().CanonicalUrlsEnabled;
    if (canonicalUrlsEnabled)
    {
        var categoryUrl = Url.RouteUrl("Category", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(categoryUrl);
    }

    var breadcrumbDelimiter = EngineContext.Current.Resolve<CommonSettings>().BreadcrumbDelimiter;
    string categoryTitle = Model.Name;
    String precatName = "";
    bool showSubTitle = false;
    if (Model.DisplayCategoryBreadcrumb)
    {
        foreach (var cat in Model.CategoryBreadcrumb)
        {
            if (!String.IsNullOrWhiteSpace(precatName) && cat.Id == Model.Id)
            {
                showSubTitle = true;
                break;
            }

            precatName = cat.Name;
        }
    }

    if(Model.SubCategories.Count > 0)
    {
        showSubTitle = false;
        precatName = "";
    }

    var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
}

@functions{
    public bool ShowPager(Pager p)
    {
        if(Model.PagingFilteringContext.TotalPages == 1)
        {
            return false;
        }

        return true;
    }
}

@helper RenderProductsPager(Pager p)
{
    int startIndex = 1;
    int endIndex = Model.PagingFilteringContext.TotalPages;
    int currentIndex = Model.PagingFilteringContext.PageNumber;
    int noOfPage = 6;
    startIndex = Convert.ToInt32(Decimal.Floor(currentIndex / noOfPage) * noOfPage) + 1;
    <li><a href="@p.CreateDefaultUrl(1)">Trang đầu</a> </li>
    if (currentIndex > 1)
    {
        <li><a href="@p.CreateDefaultUrl(currentIndex - 1)"><</a></li>
    }
    else
    {
        <li><</li>
    }

    if(startIndex + 5 < endIndex)
    {
        endIndex = startIndex + 5;
    }
    
    for(int i = startIndex;i<= endIndex;i++)
    {
        if(i == currentIndex)
        {
        <li><a href="@p.CreateDefaultUrl(i)" class="active">@i</a></li>
        }
        else
        {
        <li><a href="@p.CreateDefaultUrl(i)">@i</a></li>
        }
    }
    
    if (currentIndex < Model.PagingFilteringContext.TotalPages)
    {
        <li><a href="@p.CreateDefaultUrl(currentIndex + 1)">></a></li>
    }
    else
    {
        <li>></li>
    }
    <li><a href="@p.CreateDefaultUrl(endIndex)">Trang cuối</a> </li>
}

@helper RenderProductsInCategory(CategoryModel.SubCategoryModel subCategory)
{
    if (subCategory.FeaturedProducts != null && subCategory.FeaturedProducts.Count > 0)
    {
    <div class="row-product clearfix">
        <h3 class="sub-title">
            <a href="@Url.RouteUrl("Category", new { SeName = subCategory.SeName })">@subCategory.Name</a>
        </h3>
        <div class="product-list clearfix">
            <ul>
                @foreach (var product in subCategory.FeaturedProducts)
                {
                    <li class="item">
                        @Html.Partial("_ProductBox", product)
                    </li>
                }
            </ul>
            <div class="clear">
            </div>
            <!-- ./product sytle-->
        </div>
        <h5 class="view-more">
            <a href="@Url.RouteUrl("Category", new { SeName = subCategory.SeName })">Xem thêm ></a>
        </h5>
        <!-- ./#end-row -->
    </div>
    }  
}


<h2 class="title clearfix">
    @if (!string.IsNullOrWhiteSpace(precatName))
    { 
        <span>@precatName</span>
    }
    else
    {
        <span>@categoryTitle</span>
    }
</h2>

@if (Model.SubCategories.Count > 0)
{
    foreach (var subCategory in Model.SubCategories)
    {
    @RenderProductsInCategory(subCategory)
    }
}

@if (Model.Products != null && Model.Products.Count > 0)
{ 
    <div class="row-product clearfix">
        @if (showSubTitle)
        {
            <h3 class="sub-title">
                <a href="@Url.RouteUrl("Category", new { SeName = Model.SeName })">@Model.Name</a>
            </h3>
        }

        <div class="product-list clearfix">
            <ul>
                @foreach (var product in Model.Products)
                {
                    <li class="item">
                        @Html.Partial("_ProductBox", product)
                    </li>
                    
                }
            </ul>
            <div class="clear">
            </div>
            <!-- ./product sytle-->
        </div>
        <!-- ./#end-row -->
    </div>
    
    if(@ShowPager(pager))
    {
        <div class="product-pager clearfix">
            <ul>
                @RenderProductsPager(pager)
            </ul>
        </div>
        //@Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber")
    }
}

@Html.Action("MainPageBottom","Common")
@Html.Widget("categorydetails_bottom")
