﻿@model CategoryNavigationModel
@using System
@using System.Collections.Generic
@using Nop.Core.Domain
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Catalog;
@using Nop.Web.Framework.Themes
@{
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var imageFolderPath = "~/Themes/" + currentThemeName + "/Content/";
    Html.AppendCssFileParts("~/Themes/" + currentThemeName + "/Content/Assets/css/animation-icon.css");

    Html.AppendScriptParts("~/Themes/" + currentThemeName + "/Content/Assets/js/livicons-demo-1.js");
    Html.AppendScriptParts("~/Themes/" + currentThemeName + "/Content/Assets/js/raphael-min.js");
    Html.AppendScriptParts("~/Themes/" + currentThemeName + "/Content/Assets/js/prettify.js");
    
    

    List<CategorySimpleModel> lstSubCategory = new List<CategorySimpleModel>();
    if (Model.Categories.Count > 5)
    {
        lstSubCategory.AddRange(Model.Categories.GetRange(0, 5));
    }
    else
    {
        lstSubCategory.AddRange(Model.Categories);
    }

    //TO DO: Mọi thông tin này sẽ được lấy từ cấu hình của Category trong db
    var lstColor = new List<string>() { "red", "orange", "purple", "blue", "green" };
    //var lstDesc = new List<string>() { "Lorem ipsum dolor sit met,nsectetur adipiscing elit."
    //                                                , "Lorem ipsum dolor sit met,nsectetur adipiscing elit."
    //                                                , "Lorem ipsum dolor sit met,nsectetur adipiscing elit."
    //                                                , "Lorem ipsum dolor sit met,nsectetur adipiscing elit."
    //                                                , "Lorem ipsum dolor sit met,nsectetur adipiscing elit." };
    var lstUrlImage = new List<string>() { "Assets/css/images/icon/g-Thoitrang.gif"
                                                    , "Assets/css/images/icon/g-Trangsuc.gif"
                                                    , "Assets/css/images/icon/g-Lamdep.gif"
                                                    , "Assets/css/images/icon/g-Dientu.gif"
                                                    , "Assets/css/images/icon/g-Treem.gif" };

    var lstIdImage = new List<string>() { "fashion"
                                                    , "makeUp"
                                                    , "Assets/css/images/icon/g-Lamdep.gif"
                                                    , "Assets/css/images/icon/g-Dientu.gif"
                                                    , "Assets/css/images/icon/g-Treem.gif" };
    
}

@functions{
    public bool BreadCrumbContainsCurrentCategoryId(CategorySimpleModel category)
    {
        if (Model.CurrentCategoryId == 0)
            return false;

        if (category.Id == Model.CurrentCategoryId)
            return true;

        foreach (var subCategory in category.SubCategories)
        {
            if (BreadCrumbContainsCurrentCategoryId(subCategory))
            {
                return true;
            }
        }

        return false;
    }
}
@helper RenderCategoryLine(CategorySimpleModel category, String color = "", String desc = "", String urlImage = "")
{
    <li class="has_ul @color">
        <img src="@urlImage" alt="" align="absmiddle" height="16px" />@category.Name<br />
        <span>@desc</span>
        <ul style="display: none;">
            @if(@category.SubCategories.Count > 0){
                foreach(var subCategory in category.SubCategories)
                {
                    <li><a href="@Url.RouteUrl("Category", new { SeName = subCategory.SeName })">@subCategory.Name</a></li>
                }
            }
            else
            {
                <li><a href="#">Link_2</a></li>
                <li><a href="#">Link_2</a></li>
            }
        </ul>
    </li>
}

@helper RenderSubCategoryLine(CategorySimpleModel category)
{
    <ul style="display: none;">
        @if (@category.SubCategories.Count > 0)
        {
            foreach (var subCategory in category.SubCategories)
            {
                <li><a href="@Url.RouteUrl("Category", new { SeName = subCategory.SeName })">@subCategory.Name</a></li>
            }
        }
        else
        {
            <li><a href="#">Link_2</a></li>
            <li><a href="#">Link_2</a></li>
        }
    </ul>
}

@if (Model.Categories.Count > 0)
{
    <div id="sidebar">
        <ul id="nav-left">
            <li class="first">Danh mục Sản phẩm</li>
            <li class="has_ul red">
                <img id="fashion" src="@Url.Content(imageFolderPath)Assets/css/images/icon/i-thoitrang.png" alt="" align="absmiddle">@Model.Categories[0].Name
				<div class="clear"></div>
                <span>Thời trang phụ kiện Nam, Nữ và Trẻ em... </span>
                @RenderSubCategoryLine(Model.Categories[0])
            </li>
            <li class="has_ul orange">
				<img id="makeUp" src="@Url.Content(imageFolderPath)Assets/css/images/icon/g-Lamdep.png" alt="" align="absmiddle">@Model.Categories[1].Name
				<div class="clear"></div>
                <span> Dược, Mỹ phẩm và Nước hoa chính hãng... </span>
                @RenderSubCategoryLine(Model.Categories[1])
            </li>
            <li class="has_ul purple">
                <div class="section">
					<div data-original-title="responsive" class="icon" title="">
						@Model.Categories[2].Name
						<div id="livicon-228" class="livicon" data-n="responsive">
						</div>
						</div>
				</div>
				<div class="clear"></div>
                <span>Điện thoai, laptop, máy tính bảng và linh phụ kiện đi kèm... </span>
                @RenderSubCategoryLine(Model.Categories[2])
            </li>
            <li class="has_ul blue">
                <div class="section">
					<div data-original-title="car" class="icon" title="">
						@Model.Categories[3].Name
						<div id="livicon-132" class="livicon" data-n="car">
						</div>
						</div>
				</div>
				<div class="clear"></div>
                <span>Phụ tùng, âm thanh, đồ chơi cho các dòng ô tô, xe máy... </span>
                @RenderSubCategoryLine(Model.Categories[3])
            </li>
            <li class="has_ul green">
                <div class="section">
					<div data-original-title="bell" class="icon" title="">
					@Model.Categories[4].Name
						<div id="livicon-121" class="livicon" data-n="bell">
						</div>
						</div>
				</div>
				<div class="clear"></div>
                <span>Các loại sách, đồ thể thao, đồ giao dụng ... </span>
                @RenderSubCategoryLine(Model.Categories[4])
            </li>
        </ul>
        <!-- ./sidebar -->

 @*       <script type="text/javascript">
            $(document).ready(function () {
                $("#nav-left li:has(ul)").click(function (event) {
                    if (this == event.target) {
                        $(this).toggleClass('clicked').children('ul').slideToggle();
                        var n = $('li:has(ul).clicked').length;
                        if (n == 0) {
                            $('li:has(ul) span').slideDown();
                        }
                        else {
                            var count = $(this).find('ul li').length;
                            var H = 93 / count;
                            //$(this).find('ul li a').css('height',H );
                            $(this).find('ul li a').css('line-height', H + "px");
                            $(this).children('span').slideDown();
                            $(this).find('li:has(ul)').removeClass('clicked').find("ul").slideUp();
                            $(this).siblings().removeClass('clicked').find("span").slideUp();
                            $(this).siblings().find("ul").slideUp();
                        }

                    }
                }).addClass('has_ul');
            });
        </script>*@
        <script type="text/javascript">
            $(document).ready(function () {
                $("#nav-left li:has(span)").click(function () {
                    $(this).toggleClass('clicked').children('ul').slideToggle();
                    var n = $('li:has(ul).clicked').length;
                    if (n == 0) {
                        $('li:has(ul) span').slideDown();
                    }
                    else {
                        var count = $(this).find('ul li').length;
                        var H = 93 / count;
                        $(this).find('ul li a').css('line-height', H + "px");
                        $(this).children('span').slideDown();
                        $(this).find('li:has(ul)').removeClass('clicked').find("ul").slideUp();
                        $(this).siblings().removeClass('clicked').find("span").slideUp();
                        $(this).siblings().find("ul").slideUp();
                    }
                });
            });
        </script>

    </div>
}
