﻿@model System.Collections.Generic.IList<ProductOverviewModel>
@using Nop.Core.Infrastructure
@using Nop.Web.Framework.Themes
@using Nop.Web.Models.Catalog;
@{
    Layout = "";
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var imageFolderPath = "~/Themes/" + currentThemeName + "/Content/";
}
@if (Model.Count > 0)
{
    int i = 0;
    <div class="product-list clearfix">
        <div id="example1" class="showbiz-container">
            <!-- THE NAVIGATION -->
            <div class="showbiz-navigation center sb-nav-grey">
                <a id="showbiz_left_1" class="sb-navigation-left"><i class="sb-icon-left-open"><img src="@Url.Content(imageFolderPath)Assets/css/images/back.jpg" /></i></a>
                <a id="showbiz_right_1" class="sb-navigation-right"><i class="sb-icon-right-open"><img src="@Url.Content(imageFolderPath)Assets/css/images/next.jpg" /></i></a>
                <div class="sbclear"></div>
            </div>
            <div id="sbiz9605" class="showbiz" data-left="#showbiz_left_1" data-right="#showbiz_right_1" data-play="#showbiz_play_1" style="overflow:hidden">
                <div style="height: 297px;" class="overflowholder">
                    <ul style="width: 40000px; transform: translate3d(-378.628px, 0px, 0px); height: 297px;">
                        @foreach (var product in Model)
                        {
                            //Chỉ hiển thị 4 sản phẩm
                            //if (i > 3)
                            //{
                            //    break;
                            //}
                            //i++;
                            <li style="width: 182px;" class="sb-grey-skin item">
                                @Html.Partial("_ProductBox", product)
                            </li>

                            @*<li class="item">
                            @Html.Partial("_ProductBox", product)
                        </li>*@
                        }
                    </ul>
                </div>
                <div class="sbclear"></div>
            </div>
            <!-- ./product sytle-->
        </div>
    </div>
}

<script type="text/javascript">

    jQuery(document).ready(function () {

        jQuery('#example1').showbizpro({
            dragAndScroll: "off",
            visibleElementsArray: [4, 3, 2, 1],
            carousel: "on",
            entrySizeOffset: 0,
            allEntryAtOnce: "off",
            speed: 700,
            autoPlay: "on",
            rewindFromEnd: "on",
            delay: 3000,
        });


    });

</script>
