﻿@model IList<ProductOverviewModel>
@using Nop.Web.Models.Catalog;
@if (Model.Count > 0)
{
    int i = 0;
    <div class="product-list clearfix">
        <ul>
            @foreach (var product in Model)
            {
                //Chỉ hiển thị 4 sản phẩm
                if (i > 3)
                {
                    break;
                }
                i++;
                    
                <li class="item">
                    @Html.Partial("_ProductBox", product)
                </li>                    
            }
        </ul>
        <div class="clear">
        </div>
        <!-- ./product sytle-->
    </div>
}