﻿@model ProductDetailsModel.ProductBreadcrumbModel
@using Nop.Core.Domain.Common;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@{
    var breadcrumbDelimiter = EngineContext.Current.Resolve<CommonSettings>().BreadcrumbDelimiter;
    String catName = "";
    if(Model.CategoryBreadcrumb.Count > 0)
    {
        catName = Model.CategoryBreadcrumb[Model.CategoryBreadcrumb.Count - 1].Name;
    }
}
<h2 class="title clearfix">
                    <span>@catName</span></h2>

