﻿@model ProductDetailsModel
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title, meta
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    var canonicalUrlsEnabled = EngineContext.Current.Resolve<SeoSettings>().CanonicalUrlsEnabled;
    if (canonicalUrlsEnabled)
    {
        var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(productUrl);
    }
}
@Html.Widget("productdetails_top")

@Html.Action("ProductBreadcrumb", "Catalog", new { productId = Model.Id })
<div itemscope itemtype="http://schema.org/Product" data-productid="@Model.Id">
    @using (Html.BeginRouteForm("Product", new { SeName = Model.SeName }, FormMethod.Post, new { id = "product-details-form" }))
    {
        <div id="product-detail">
            @Html.Widget("productdetails_before_pictures")
            <!--product pictures-->
            @Html.Partial("_ProductDetailsPictures", Model)
            @Html.Widget("productdetails_after_pictures")
            @Html.Partial("_ProductGeneralInfo", Model)
            <div class="clear">
            </div>
        </div>
    }
    @Html.Widget("productdetails_before_collateral")
    <div id="tabProducts">
        <ul id="tabs">
            <li><a href="#" name="tabDescription">Mô tả sản phẩm</a></li>
            <li><a href="#" name="tabComment">Phản hồi</a></li>
            <li><a href="#" name="tabShipping">Vận chuyển & Thanh toán</a></li>
            <li><a href="#" name="tabConfirm">Bảo lãnh bán</a></li>
        </ul>
        <div id="tab-content">
            <div id="tabDescription" class="tab-content">
                <div>
                    @Html.Raw(Model.FullDescription)
                </div>
            </div>
            @Html.Action("ProductReviews", new { productId = Model.Id })
            <div id="tabShipping" class="tab-content">
                Nội dung vận chuyển và thanh toán
            </div>
            <div id="tabConfirm" class="tab-content">
                Nội dung bảo lãnh
            </div>
        </div>
        <!-- ./#productTab -->
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tab-content div.tab-content").hide(); // Initially hide all content
            $("#tabs li:first").attr("id", "current"); // Activate first tab
            $("#tab-content div:first").fadeIn(); // Show first tab content

            $('#tabs a').click(function (e) {
                e.preventDefault();
                if ($(this).closest("li").attr("id") == "current") { //detection for current tab
                    return
                }
                else {
                    $("#tab-content > div.tab-content").hide(); //Hide all content
                    $("#tabs li").attr("id", ""); //Reset id's
                    $(this).parent().attr("id", "current"); // Activate this
                    $('#' + $(this).attr('name')).fadeIn(); // Show content for current tab
                }
            });
        });
    </script>
</div>

@Html.Action("MainPageBottom","Common")
@Html.Widget("productdetails_bottom")