﻿@model ProductReviewOverviewModel
@using System.Globalization
@using Nop.Web.Models.Catalog;
@{
    int ratingPercent = 0;
    if (Model.TotalReviews != 0)
    {
        ratingPercent = ((Model.RatingSum * 100) / Model.TotalReviews) / 5;
    }
}
@if (Model.AllowCustomerReviews)
{
    <div class="product-reviews-overview" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
        <div class="product-review-box">
            <ul>
                <li>
                    <div class="rating">
                        <div style="width: @(ratingPercent)%">
                        </div>
                    </div>
                </li>
                <li>
                    @{
                        decimal ratingValue = ratingPercent / (decimal)20;
                    }
                    <div class="product-review-links">
                        <span><b>@ratingPercent.ToString("0.0", new CultureInfo("en-US")) % </b>đánh giá (@Model.TotalReviews phiếu)</span>|<b>@Model.TotalOrders</b> đặt hàng
                    </div>
                </li>
            </ul>



            <span itemprop="ratingValue" style="display: none;">@ratingValue.ToString("0.0", new CultureInfo("en-US"))</span>
            <span itemprop="reviewCount" style="display: none;">@Model.TotalReviews</span>
        </div>


    </div>
}