﻿@model ProductReviewsModel
@using Nop.Web.Models.Catalog;
@{
    //Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    //title
    //Html.AddTitleParts(Model.ProductName);
    //Html.AddTitleParts(T("PageTitle.ProductReviews").Text);
    int iFeedBack = 0;
    int iFav = 0;
    if (Model.Items != null)
    {
        iFeedBack = Model.Items.Count;
        foreach (var item in Model.Items)
        {
            if (item.Rating > 2)
            {
                iFav++;
            }
        }
    }
}
<div id="tabComment" class="tab-content">
    <div class="comment-count">
        @iFeedBack phản hồi | @iFav yêu thích
    </div>
    <div class="comment-form clearfix">
        @using (Html.BeginRouteForm("ProductReviews", FormMethod.Post))
        {
            var dataDictAddress = new ViewDataDictionary();
            //Merge ModelState (required for validation)
            dataDictAddress.ModelState.Merge(ViewData.ModelState);
            dataDictAddress.TemplateInfo.HtmlFieldPrefix = "AddProductReview";
            @Html.Partial("_AddProductReviews", Model.AddProductReview, dataDictAddress);
        }
    </div>
    <div class="clear">
    </div>
    <div class="comment-list">
        @if (Model.Items.Count > 0)
        {
            foreach (var review in Model.Items)
            {
                int ratingPercent = review.Rating * 20;  
            <div class="item-lst clearfix">
                <div class="avatar">
                    <a href="#">
                        <img src="Uploads/Users/a-1.png" alt="#" /></a>
                </div>
                <div class="comment-detail">
                    <span class="user-name">@review.CustomerName</span> &nbsp;&nbsp;&nbsp;<span class="post-date">
                        @review.WrittenOnStr - Công khai</span>
                    <div class="rating">
                        <div style="width: @(ratingPercent)%">
                        </div>
                    </div>
                    <p>
                        @Html.Raw(Nop.Core.Html.HtmlHelper.FormatText(review.ReviewText, false, true, false, false, false, false))
                    </p>
                    <p>
                        @*<a href="#" class="reply">Trả lời</a>*@
                    </p>
                </div>
                <div class="clear">
                </div>
            </div>
            }
        }
        @*<a href="#" class="view-all-comment">Xem thêm phản hồi </a>*@
    </div>
</div>


@*<div class="page product-reviews-page">
    <div class="page-title">
        <h1>@T("Reviews.ProductReviewsFor") <a href="@Url.RouteUrl("Product", new { SeName = Model.ProductSeName })">@Model.ProductName</a></h1>
    </div>
    <div class="page-body">
        @Html.Widget("productreviews_page_top")
        @if (Model.AddProductReview.SuccessfullyAdded)
        {
            <div class="result">
                @Model.AddProductReview.Result
            </div>
        }
        else
        {
            <div class="write-review" id="review-form">
                <div class="title">
                    <strong>@T("Reviews.Write")</strong>
                </div>
                @using (Html.BeginForm())
                {
                    <div class="message-error">@Html.ValidationSummary(true)</div>
                    <div class="form-fields">
                        <div class="inputs">
                            @Html.LabelFor(model => model.AddProductReview.Title, new { }, ":")
                            @Html.TextBoxFor(model => model.AddProductReview.Title, Model.AddProductReview.CanCurrentCustomerLeaveReview ? (object)(new { @class = "review-title" }) : (object)(new { @class = "review-title", disabled = "disabled" }))
                            @Html.ValidationMessageFor(model => model.AddProductReview.Title)
                        </div>
                        <div class="inputs">
                            @Html.LabelFor(model => model.AddProductReview.ReviewText, new { }, ":")
                            @Html.TextAreaFor(model => model.AddProductReview.ReviewText, Model.AddProductReview.CanCurrentCustomerLeaveReview ? (object)(new { @class = "review-text" }) : (object)(new { @class = "review-text", disabled = "disabled" }))
                            @Html.ValidationMessageFor(model => model.AddProductReview.ReviewText)
                        </div>
                        <div class="review-rating">
                            @Html.LabelFor(model => model.AddProductReview.Rating, new { }, ":")
                                <ul>
                                    <li class="first">@T("Reviews.Fields.Rating.Bad")</li>
                                    <li>
                                        @Html.RadioButtonFor(model => model.AddProductReview.Rating, "1", new { id = "addproductrating_1" })
                                        @Html.RadioButtonFor(model => model.AddProductReview.Rating, "2", new { id = "addproductrating_2" })
                                        @Html.RadioButtonFor(model => model.AddProductReview.Rating, "3", new { id = "addproductrating_3" })
                                        @Html.RadioButtonFor(model => model.AddProductReview.Rating, "4", new { id = "addproductrating_4" })
                                        @Html.RadioButtonFor(model => model.AddProductReview.Rating, "5", new { id = "addproductrating_5" })
                                    </li>
                                    <li class="last">@T("Reviews.Fields.Rating.Excellent")</li>
                                </ul>
                        </div>
                        @if (Model.AddProductReview.DisplayCaptcha)
                        {
                            <div class="captcha-box">
                                @Html.Raw(Html.GenerateCaptcha())
                            </div>
                        }
                    </div>
                    <div class="buttons">
                        <input type="submit" name="add-review" class="button-1 write-product-review-button" value="@T("Reviews.SubmitButton")" />
                    </div>
                }
            </div>
        }
        @if (Model.Items.Count > 0)
        {
            <div class="product-review-list">
                <div class="title">
                    <strong>@T("Reviews.ExistingReviews")</strong>
                </div>
                @foreach (var review in Model.Items)
                {
                    int ratingPercent = review.Rating * 20;                
                    <div class="product-review-item">
                        <div class="review-item-head">
                            <div class="review-title">
                                <strong>@review.Title</strong>
                            </div>
                            <div class="product-review-box">
                                <div class="rating">
                                    <div style="width: @(ratingPercent)%">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="review-text">
                            @Html.Raw(Nop.Core.Html.HtmlHelper.FormatText(review.ReviewText, false, true, false, false, false, false))
                        </div>
                        <div class="review-info">
                            <span class="user">
                                <strong>@T("Reviews.From"):</strong>
                                @if (review.AllowViewingProfiles)
                                {
                                    <a href="@Url.RouteUrl("CustomerProfile", new { id = review.CustomerId })">@(review.CustomerName)</a>
                                }
                                else
                                {
                                    @review.CustomerName
                                }
                            </span>
                            <span class="separator">|</span>
                            <span class="date">
                                <strong>@T("Reviews.Date"):</strong>
                                @review.WrittenOnStr
                            </span>
                        </div>
                        @Html.Partial("_ProductReviewHelpfulness", review.Helpfulness, new ViewDataDictionary())
                        @Html.Widget("productreviews_page_inside_review")
                    </div>
                }
            </div>
        }
        @Html.Widget("productreviews_page_bottom")
    </div>
</div>*@
