﻿@model SearchModel
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    Html.AppendCssFileParts("~/Themes/WorldShop/Content/Assets/css/product-search.css");
    //title
    Html.AddTitleParts(T("PageTitle.Search").Text);
    int valueSelected = Model.Cid;
    var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
}
@using Nop.Web.Models.Catalog;
@using Nop.Web.Extensions;
@using Nop.Web.Framework.UI.Paging;
@functions{
    public bool ShowPager(Pager p)
    {
        if(Model.PagingFilteringContext.TotalPages == 1)
        {
            return false;
        }

        return true;
    }
}

@helper RenderProductsPager(Pager p)
{
    int startIndex = 1;
    int endIndex = Model.PagingFilteringContext.TotalPages;
    int currentIndex = Model.PagingFilteringContext.PageNumber;
    int noOfPage = 6;
    startIndex = Convert.ToInt32(Decimal.Floor(currentIndex / noOfPage) * noOfPage) + 1;
    <li><a href="@p.CreateDefaultUrl(1)">Trang đầu</a> </li>
    if (currentIndex > 1)
    {
        <li><a href="@p.CreateDefaultUrl(currentIndex - 1)"><</a></li>
    }
    else
    {
        <li><</li>
    }

    if(startIndex + 5 < endIndex)
    {
        endIndex = startIndex + 5;
    }
    
    for(int i = startIndex;i<= endIndex;i++)
    {
        if(i == currentIndex)
        {
        <li><a href="@p.CreateDefaultUrl(i)" class="active">@i</a></li>
        }
        else
        {
        <li><a href="@p.CreateDefaultUrl(i)">@i</a></li>
        }
    }
    
    if (currentIndex < Model.PagingFilteringContext.TotalPages)
    {
        <li><a href="@p.CreateDefaultUrl(currentIndex + 1)">></a></li>
    }
    else
    {
        <li>></li>
    }
    <li><a href="@p.CreateDefaultUrl(endIndex)">Trang cuối</a> </li>
}


<h2 class="title clearfix">
    <span>Tìm kiếm</span>
</h2>
@using (Html.BeginRouteForm("ProductSearch", FormMethod.Get))
{
    <table cellpadding="5" class="table-search-product">
        <tbody>
            <tr>
                <td>
                    <b>Nhóm sản phẩm</b>
                </td>
                <td>
                    @Html.DropDownListFor(model => model.Cid, Model.AvailableCategories, new { @class = "category-list" })
                </td>
            </tr>
            <tr>
                <td>
                    <b>Từ khóa</b>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Q, new { @class = "search-text" })
                    @Html.RequiredHint()
                    @Html.ValidationMessageFor(model => model.Q)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" id="Button1" name="btnSubmit" class="button-submit" value="Tìm kiếm" />
                </td>
            </tr>
        </tbody>
    </table>
}

<div class="row-product clearfix">
    @if (Model.Products != null && Model.Products.Count > 0)
    {
        <div class="product-list clearfix">
            <ul>
                @foreach (var product in Model.Products)
                {
                    <li class="item">
                        @Html.Partial("_ProductBox", product)
                    </li>
                    
                }
            </ul>
            <div class="clear">
            </div>
            <!-- ./product sytle-->
        </div>
        
        if(@ShowPager(pager))
        {
            <div class="product-pager clearfix">
                <ul>
                    @RenderProductsPager(pager)
                </ul>
            </div>
        }        
    }
    else
    {
        <text><b>Không tìm thấy sản phẩm nào phù hợp.</b></text>
    }
</div>
@Html.Action("MainPageBottom","Common")
@Html.Widget("contentpage_bottom")  

@*<div class="page search-page">
    <div class="page-title">
        <h1>@T("Search")</h1>
    </div>
    <div class="page-body">
        <div class="search-input">
            @using (Html.BeginRouteForm("ProductSearch", FormMethod.Get))
            {
                <div class="basic-search">
                    <div class="inputs">
                        @Html.LabelFor(model => model.Q, new { }, ":")
                        @Html.TextBoxFor(model => model.Q, new { @class = "search-text" })
                    </div>
                    @Html.Widget("productsearch_page_basic")
                    <div class="inputs reversed">
                        @Html.CheckBoxFor(model => model.As)
                        @Html.LabelFor(model => model.As)
                    </div>
                </div>
                <div class="advanced-search" id="advanced-search-block">
                    @if (Model.AvailableCategories.Count > 0)
                    {
                        <div class="inputs">
                            @Html.LabelFor(model => model.Cid, new { }, ":")
                            @Html.DropDownListFor(model => model.Cid, Model.AvailableCategories)
                        </div>
                        <div class="inputs reversed">
                            @Html.CheckBoxFor(model => model.Isc)
                            @Html.LabelFor(model => model.Isc)
                        </div>
                    }
                    @if (Model.AvailableManufacturers.Count > 0)
                    {
                        <div class="inputs">
                            @Html.LabelFor(model => model.Mid, new { }, ":")
                            @Html.DropDownListFor(model => model.Mid, Model.AvailableManufacturers)
                        </div>
                    }
                    <div class="inputs">
                        <label>@T("Search.PriceRange"):</label>
                        <span class="price-range">
                            @T("Search.PriceRange.From")
                            @Html.TextBoxFor(model => model.Pf, new { @class = "price-from" })
                            @T("Search.PriceRange.To")
                            @Html.TextBoxFor(model => model.Pt, new { @class = "price-to" })
                        </span>
                    </div>
                    <div class="inputs reversed">
                        @Html.CheckBoxFor(model => model.Sid)
                        @Html.LabelFor(model => model.Sid)
                    </div>
                    @Html.Widget("productsearch_page_advanced")
                </div>
                <div class="buttons">
                    <input type="submit" class="button-1 search-button" value="@T("Search")" />
                </div>
            }
        </div>
        <div class="search-results">
            @if (!String.IsNullOrEmpty(Model.Warning))
            {
                <strong class="warning">
                    @Model.Warning
                </strong>
            }
            @if (Model.NoResults)
            {
                <strong class="result">
                    @T("Search.NoResultsText")
                </strong>
            }
            @if (Model.Products.Count > 0)
            {
                <div class="product-list">
                    @foreach (var product in Model.Products)
                    {
                        <div class="item-box">
                            @Html.Partial("_ProductBox", product)
                        </div>
                    }
                </div>
            }
            <div class="pager">
                @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber").BooleanParameterName("as").BooleanParameterName("isc").BooleanParameterName("sid")
            </div>
        </div>
    </div>
</div>*@
