﻿@model TopMenuModel
@using System
@using System.Collections.Generic
@using Nop.Core.Domain
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Catalog;
@using Nop.Web.Framework.Themes
@{
    var isRtl = this.ShouldUseRtlTheme();
    //var supportResponsive = EngineContext.Current.Resolve<StoreInformationSettings>().ResponsiveDesignSupported;
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var imageFolderPath = "~/Themes/" + currentThemeName + "/Content/";
    //6	Thời trang nam
    //7	Thời trang nữ
    //11	Trẻ em
    //14	Dược phẩm
    List<String> lstMenuHangHoa = new List<string>();
    String firstSubCat = "#";
    if (Model.Categories.Count > 0)
    {
        foreach (var item in Model.Categories)
        {
            if (item.SubCategories != null && item.SubCategories.Count > 0)
            {
                firstSubCat = Url.RouteUrl("Category", new { SeName = item.SubCategories[0].SeName });
                break;
            }
        }
    }
    
}

@helper RenderCategoryMenuLine(CategorySimpleModel category, int index, int level)
{
    string url = "#";

    if (level < 1 && category.SubCategories != null && category.SubCategories.Count > 0)
    {
        url = Url.RouteUrl("Category", new { SeName = category.SubCategories[0].SeName });
    }

    if (level >= 1)
    {
        url = Url.RouteUrl("Category", new { SeName = category.SeName });
    }
    <li><a href="@url">@category.Name</a>

        @if (level <= 1 && category.SubCategories != null && category.SubCategories.Count > 0)
        {
            int iIndex = -1;

            string iTop = "0px;";
            if(index + 1 > category.SubCategories.Count)
            {
                iTop = (28 * (index)).ToString() + "px;";
            }
            
            <ul style="top:@iTop">
            @foreach (var sub in category.SubCategories)
            {
                iIndex++;
                @RenderCategoryMenuLine(sub, iIndex, level + 1);
            }
            </ul>
        }

    </li>
}

<div class="clear">
</div>
<div id="nav-dropdown" class="clearfix">
    <ul id="nav-multi">
        <li class="first"><a href="@Url.RouteUrl("HomePage")">
            <img src="@Url.Content(imageFolderPath)assets/css/images/icon-home.png" alt="#" /></a></li>
        <li><a href="~/huong-dan-dat-hang">Hướng Dẫn Đặt Hàng</a>
            <ul>
                <li><a href="~/huong-dan-dat-hang">Hướng dẫn đăng ký - đăng nhập</a></li>
                <li><a href="~/huong-dan-cac-buoc-dat-hang">Hướng dẫn các bước đặt hàng</a>
                    <ul>
                        <li><a href="~/huong-dan-cac-buoc-dat-hang">Nhập đơn hàng</a></li>
                        <li><a href="~/huong-dan-cac-buoc-dat-hang">Yêu cầu báo giá</a></li>
                        <li><a href="~/huong-dan-cac-buoc-dat-hang">Đặt cọc</a></li>
                        <li><a href="~/huong-dan-cac-buoc-dat-hang">Thanh toán - Nhận hàng</a></li>
                    </ul>
                </li>
                <li><a href="~/huong-dan-su-dung-phan-mem">Hướng dẫn sử dụng phần mềm</a></li>
            </ul>
        </li>
        <li><a href="@firstSubCat">Hàng Hóa</a>
            <ul>
                @*<li><a href="~/thoitrangnu">Hàng nữ</a></li>
                        <li><a href="~/thoitrangnam">Hàng nam </a></li>
                        <li><a href="~/treem">Hàng trẻ em</a></li>
                        <li><a href="~/duocpham">Dược phẩm</a></li>*@

                @if (Model.Categories.Count > 0)
                {
                    int iIndex = -1;
                    foreach (var o in Model.Categories)
                    {
                        iIndex++;
                        @RenderCategoryMenuLine(o, iIndex, 0);
                    }
                }
                <li><a href="#">Website mua hàng</a></li>
            </ul>
        </li>
        <li><a href="~/dich-vu">Dịch vụ</a>
            <ul>
                <li><a href="~/dich-vu-van-chuyen">Vận chuyển</a>
                    <ul>
                        <li><a href="~/dich-vu-van-chuyen">Form thông tin vận chuyển</a></li>
                        <li><a href="~/dich-vu-van-chuyen">Báo giá trực tuyến</a></li>
                    </ul>
                </li>
                <li><a href="~/dich-vu-mua-hang-ho">Mua hàng hộ </a>
                    <ul>
                        <li><a href="~/dich-vu-mua-hang-ho">Form thông tin mua hàng hộ</a></li>
                        <li><a href="~/dich-vu-mua-hang-ho">Hỗ trợ tính phí</a></li>
                    </ul>
                </li>
                <li><a href="~/dich-vu-thue-va-hai-quan">Thuế - Hải quan</a></li>
            </ul>
        </li>
        <li><a href="~/chinh-sach-mua-hang">Chính sách Khách Hàng</a>
            <ul>
                <li><a href="~/chinh-sach-mua-hang">Chính sách mua hàng</a>
                    <ul>
                        <li><a href="~/chinh-sach-mua-hang">Thời gian nhận hàng</a></li>
                        <li><a href="~/chinh-sach-mua-hang">Nguồn hàng - Xuất xứ</a></li>
                        <li><a href="~/chinh-sach-mua-hang">Thanh toán</a></li>
                        <li><a href="~/chinh-sach-mua-hang">Bảo hành </a></li>
                        <li><a href="~/chinh-sach-mua-hang">Quy định chung</a></li>
                    </ul>
                </li>
                <li><a href="~/chinh-sach-ship-hang">Chính sách ship hàng</a>
                    <ul>
                        <li><a href="~/chinh-sach-ship-hang">Mặt hàng không nhận Ship</a></li>
                        <li><a href="~/chinh-sach-ship-hang">Trách nhiệm bên ship</a></li>
                        <li><a href="~/chinh-sach-ship-hang">Quy định thông tin người </a></li>
                        <li><a href="~/chinh-sach-ship-hang">Đóng gói hàng hóa </a></li>
                        <li><a href="~/chinh-sach-ship-hang">Mức đền bù</a></li>
                        <li><a href="~/chinh-sach-ship-hang">Phân loại vận chuyển</a></li>
                        <li><a href="~/chinh-sach-ship-hang">Phí phụ thu</a></li>
                        <li><a href="~/chinh-sach-ship-hang">Địa chỉ ship hàng tại Mỹ</a></li>
                    </ul>
                </li>
                <li><a href="~/chinh-sach-bao-hiem">Chính sách bảo hiểm</a></li>
                @*<li><a href="~/thoi-gian-van-chuyen">Thời gian vận chuyển</a></li>*@
            </ul>
        </li>
        <li><a href="~/phan-hoi">Hỏi - Đáp</a>
            @*<ul>
                        <li><a href="./">Đặt câu hỏi</a></li>
                        <li><a href="./">Phản hồi</a></li>
                    </ul>*@
        </li>
        <li><a href="~/gioi-thieu">Giới Thiệu</a></li>
        <li><a href="~/lien-he">Liên hệ</a></li>
        <li class="last">
            <img src="@Url.Content(imageFolderPath)assets/css/images/vie-flag.png" alt="#" />
            <img src="@Url.Content(imageFolderPath)assets/css/images/eng-flag.png" alt="" /></li>
    </ul>
</div>
