﻿@model TATModel
@using Nop.Web.Models.ShippingCharge;
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework.Themes;
@{
    Layout = "";
}

<script>
    $(document).ready(function () {
        $('.open-windows').click(function () {

            //Len dau trang
            $('body,html').animate({ scrollTop: 0 }, 'slow');
            var id = '#' + $(this).attr('name');
            //alert(id);
            if (id != '#tat-popup') {
                return;
            }
            var sHawbNo = $('div.content-popup-tat #@Html.FieldIdFor(model => model.HawbNo)');
            var hawbNos = $('#@Html.FieldIdFor(model => model.HawbNo)').attr('value');
            sHawbNo.val(hawbNos);

            if (id != '#term-popup') {
                //dong popup truoc
                $('#mask').hide();
                $('.window').hide();
            }
            //Get the screen height and width
            var maskHeight = $(document).height();
            var maskWidth = $(window).width();

            //Set heigth and width to mask to fill up the whole screen
            $('#mask').css({ 'width': maskWidth, 'height': maskHeight });
            //alert(maskWidth);
            //alert(maskHeight);

            //transition effect
            $('#mask').fadeIn(800);
            $('#mask').fadeTo("slow", 0.8);

            //Get the window height and width
            var winH = $(window).height();
            var winW = $(window).width();

            //Set the popup window to center
            $(id).css('top', winH / 2 - $(id).height() / 2);
            $(id).css('left', winW / 2 - $(id).width() / 2);
            //alert(winH / 2 - $(id).height() / 2);
            //alert(winW / 2 - $(id).width() / 2);

            //transition effect
            $(id).fadeIn(500);
            if (hawbNos) {
                $('#btnSubmitTAT').submit();
            }
        });
    });
</script>


<div class="box">
    <div class="title-red">
        <h3>Tra cứu vận đơn</h3>
    </div>
    @using (Html.BeginForm("TrackAndTraceAjax", "ShippingCharge", FormMethod.Get))
    {
        <div class="center-box left-search">
            <center>
            <strong>Vận đơn gồm 13 chữ số<br />
                (Ví dụ: EB125968686868)</strong>
            @Html.TextBoxFor(model => model.HawbNo, new { @class = "width-100" })
            <br />
            <a href="#"><strong>Tra cứu nhiều vận đơn<br />
                Tính cước</strong></a>
            <input type="button" value="Tìm kiếm" class="btn-all open-windows" name="tat-popup" />
            </center>
        </div>
    }
    <!-- ./box -->
</div>
